@model BgInvoiceViewModel
@{
    ViewBag.Title = "Фактура";
    var i = 0;
}

<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
                @if (Model.DocumentType == "Invoice")
                {
                <div class="col-xl-9">
                  <p style="color: #7e8d9f;font-size: 20px;">Фактура No: <strong>@Model.DocumentNumber</strong></p>
                </div>
                }
                @if (Model.DocumentType == "CreditNote")
                {
                <div class="col-xl-9">
                  <p style="color: #7e8d9f;font-size: 20px;">Кредитно известие No: <strong>@Model.DocumentNumber</strong></p>
                   <div class="row">
                     <div class="col-xl-8">
                       <ul class="list-unstyled">
                         <li class="text-muted">към Фактура N: <span style="color:#5d9fc5 ;">@Model.CreditToInvoiceNumber</span></li>
                         <li class="text-muted">Дата: <span style="color:#5d9fc5 ;">@Model.CreditToInvoiceDate</span></li>            
                        </ul>
                     </div>
                   </div>
                </div>

                }
                @if (Model.DocumentType == "DebitNote")
                {
                    <div class="col-xl-9">
                          <p style="color: #7e8d9f;font-size: 20px;">Дебитно известие No: <strong>@Model.DocumentNumber</strong></p>
                       <div class="row">
                         <div class="col-xl-8">
                           <ul class="list-unstyled">
                                 <li class="text-muted">към Фактура N: <span style="color:#5d9fc5 ;">@Model.DebitToInvoiceNumber</span></li>
                                 <li class="text-muted">Дата: <span style="color:#5d9fc5 ;">@Model.DebitToInvoiceDate</span></li>            
                            </ul>
                         </div>
                       </div>
                    </div>
                }       
        <div class="col-xl-3 float-end">
          <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
              class="fas fa-print text-primary"></i> Print</a>            
          <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark" asp-controller="Reports" asp-action="ExportToExcelBg"><i
              class="fas fa-print text-primary"></i> Excel</a>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="col-md-12">
          <div class="text-center">
            <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
            <p class="pt-0">@Model.Date.ToShortDateString()</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">To: <span style="color:#5d9fc5 ;">@Model.BgCustomer.BgName</span></li>
              <li class="text-muted">@Model.BgCustomer.EIK</li>
               <li class="text-muted">@Model.BgCustomer.VAT</li>
               <li class="text-muted">@Model.BgCustomer.ClientAddress.BgCountry</li>
                <li class="text-muted">@Model.BgCustomer.ClientAddress.BgCity</li>
               <li class="text-muted">@Model.BgCustomer.ClientAddress.BgStreet</li>
                <li class="text-muted">@Model.BgCustomer.BgRepresentativePerson</li>
            </ul>
          </div>
          <div class="col-xl-4">
            <p class="text-muted">@Model.BgMyCompany.BgName</p>
            <ul class="list-unstyled">
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.BgMyCompany.EIK</span></li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.BgMyCompany.VAT </span></li>
               <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.BgMyCompany.BgStreet </span></li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.BgMyCompany.BgCity </span></li>
                 <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.BgMyCompany.BgCountry </span></li>

            </ul>
          </div>
        </div>
        <div class="col-xl-6">
                    @if(Model.FiscalAgentName != "-")
                    {
                        @Model.FiscalAgentName <br />
                        @Model.FiscalAgentDetail
                    }
        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color:#84B0CA ;" class="text-white">
              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Продукт</th>
                                <th scope="col">Качество</th>
                                <th scope="col">Размер</th>
                                <th scope="col">FSC Claim</th>
                                <th scope="col">FSC Certificate</th>
                                <th scope="col">M.e</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Ед.Цена</th>
                                <th scope="col">Стойност</th>
              </tr>
            </thead>
            <tbody>
                            @foreach (var product in @Model.BgProducts)
                            {
                                i += 1;                                
                                    <tr>
                                        <td>@i</td>
                                        <td>@product.BgDescription</td>
                                        <td>@product.Grade</td>
                                        <td>@product.Size</td>
                                        <td>@product.FSCClaim</td>
                                        <td>@product.FSCSertificate</td>
                                        <td>@product.Unit</td>
                                    @if(Model.DocumentType == "CreditNote")
                                    {
                                        <td>@product.CreditNoteQuantity</td>
                                        <td>@product.CreditNoteBgPrice</td>
                                        <td>@product.CreditNoteBgAmount.ToString("N2")</td>
                                    }
                                    else if(Model.DocumentType == "DebitNote")
                                    {
                                        <td>@product.DebitNoteQuantity</td>
                                        <td>@product.DebitNoteBgPrice</td>
                                        <td>@product.DebitNoteBgAmount.ToString("N2")</td>
                                    }
                                    else
                                    {
                                        <td>@product.InvoicedQuantity</td>
                                        <td>@product.BgPrice</td>
                                        <td>@product.BgAmount.ToString("N2")</td>
                                    }                                   
                                    </tr>
                            }
             </tbody>
          </table>
        </div>
        <div class="row">

          <div class="col-xl-3">
            <ul class="list-unstyled">
              <li class="text-muted ms-3"><span class="text-black me-4">Сума: </span>@Model.Amount.ToString("N2")</li>
              <li class="text-muted ms-3 mt-2"><span class="text-black me-4">ДДС @Model.Vat: </span>@Model.VatAmount.ToString("N2")</li>            
            <li class="text-black float-start"><span class="text-black me-3">Обща сума: </span><span style="font-size: 25px;">@Model.TotalAmount.ToString("N2")</span></li>
          </ul>
          </div>
        </div>
        <hr>
         <div class="row">
                    @if (Model.FscTextBg != null)
                    {
                        @Model.FscTextBg <br />
                               <span>License code:</span> @Model.FscCertificate
                    }
        </div>
        <hr />
         <table class="table-borderless">
            <tr>
                <td class="px-3 mr-5">
                    Дата на данъчно събитие: @Model.Date.ToShortDateString() <br />
                    Основание на сделката: @Model.DealTypeBg <br />
                    Описание на сделката: @Model.DealDescriptionBg
                </td>
                <td>
                            @foreach (var bank in Model.CompanyBankDetails)
                            {
                             <td class="px-3 mr-5">
                                Currency:@bank.Currency<br>
                                Bank:@bank.BankName<br>
                                IBAN:@bank.Iban<br/>
                                SWIFT:@bank.Swift
                            </td>
                          }
                </td>                       
            </tr>
        </table>

      </div>
    </div>
  </div>
</div>
