@model BgInvoiceForPrintChooseModel

@{
    ViewBag.Title = "Choose Invoice number";
}

<form class="get">
<div class="row">
        <div class="form-group col-md-4">
            <label asp-for="DocumentNumber"></label>
            <select asp-for="DocumentNumber" class="form-control">
            <option value="">All</option>
                @foreach (var number in Model.DocumentNumbers)
                {
                        <option value="@number">@number</option>
                }

            </select>
        </div>
    </div>
    <hr /> 
    <input type="submit" value="BG Invoice" class="btn btn-primary mt-3" 
               asp-controller="Documents" 
               asp-action="BgInvoice"
               asp-route-documentNumber="@Model.DocumentNumber"/>

  @* <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark" 
               asp-controller="Documents" 
               asp-action="BgInvoice"
               asp-route-documentNumber="@Model.DocumentNumber"
               asp-route-currencyExchangeRateToBgn = "@Model.CurrencyExchangeRateToBgn"> Към БГ Фактура </a>*@
</form>