@model InvoicePrintViewModel
@{
    ViewBag.Title = "New Invoice";
    var i = 0;
}

<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
          <p style="color: #7e8d9f;font-size: 20px;">Invoice No: <strong>@Model.DocumentNumber</strong></p>
        </div>
        <div class="col-xl-3 float-end">
          <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
              class="fas fa-print text-primary"></i> Print</a>
          <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark" ><i
              class="far fa-file-pdf text-danger"></i> Export</a>              
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="col-md-12">
          <div class="text-center">
            <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
            <p class="pt-0">@Model.Date.Date.ToShortDateString()</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">To: <span style="color:#5d9fc5 ;">@Model.Customer.Name</span></li>
              <li class="text-muted">@Model.Customer.EIK</li>
               <li class="text-muted">@Model.Customer.VAT</li>
               <li class="text-muted">@Model.Customer.ClientAddress.Country</li>
                <li class="text-muted">@Model.Customer.ClientAddress.City</li>
               <li class="text-muted">@Model.Customer.ClientAddress.Street</li>
                <li class="text-muted">@Model.Customer.RepresentativePerson</li>
            </ul>
          </div>
          <div class="col-xl-4">
            <p class="text-muted">@Model.Seller.Name</p>
            <ul class="list-unstyled">
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.Seller.EIK</span></li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.Seller.VAT </span></li>
               <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.Seller.Street </span></li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.Seller.City </span></li>
                 <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">@Model.Seller.Country </span></li>
              @*<li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="me-1 fw-bold">FSC:</span>
                  <span class="badge bg-warning text-black fw-bold">@Model.Seller.FSCClaim @Model.Seller.FSCSertificate</span></li>*@
            </ul>
          </div>
        </div>
        <div class="row">
             <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">O/C No: <span style="color:#5d9fc5 ;">
                  @foreach (var item in Model.OrderConfirmationNumbers)
                                    {
                                       @item <span>;</span>
                                    }
                  </span></li>
                   <li class="text-muted">Customer Po No: <span style="color:#5d9fc5 ;">
                                    @foreach (var item in Model.CustomerPoNumbers)
                                    {
                                        @item <span>;</span>
                                    }
                  </span></li>
                  <li class="text-muted">Place of loading: <span style="color:#5d9fc5 ;">@Model.LoadingAddress</span></li>
              <li class="text-muted">Delivery Address: <span style="color:#5d9fc5 ;">@Model.DeliveryAddress</span></li>
              <li class="text-muted">Delivery Terms: <span style="color:#5d9fc5 ;">@Model.Incoterms</span></li>
              <li class="text-muted">Truck Number: <span style="color:#5d9fc5 ;">@Model.TruckNumber</span></li>
             
            </ul>
          </div>
          <div class="col-xl-4">
              @if(Model.FiscalAgentName != "-")
              @Model.FiscalAgentName <br />
              @Model.FiscalAgentDetail
          </div>
        </div>
        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color:#84B0CA ;" class="text-white">
              <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Size</th>
                            <th scope="col">FSC Claim</th>
                            <th scope="col">FSC Certificate</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
                @foreach (var product in @Model.Products)
                    {  
                        i += 1;                                
                        <tr>
                            <td>@i</td>
                            <td>@product.Description</td>
                            <td>@product.Grade</td>
                            <td>@product.Size</td>
                            <td>@product.FSCClaim</td>
                            <td>@product.FSCSertificate</td>
                            <td>@product.Unit</td>
                            <td>@product.InvoicedQuantity</td>
                            <td>@product.SellPrice</td>
                            <td>@product.Amount.ToString("N2")</td>
                        </tr>
                    }
                @if(Model.ServiceProducts.Count() > 0)
                {
                    @foreach (var product in Model.ServiceProducts)
                    {
                        i += 1;                                
                    <tr>
                        <td>@i</td>
                        <td>@product.Description</td>
                        <td>@product.Grade</td>
                        <td>@product.Size</td>
                        <td>@product.FscClaim</td>
                        <td>@product.FscCertificate</td>
                        <td>@product.Unit</td>
                        <td>@product.InvoicedQuantity</td>
                        <td>@product.SellPrice</td>
                        <td>@product.Amount.ToString("N2")</td>
                    </tr>

                    }   
                }                            
            </tbody>
          </table>
        </div>
        <div class="row">          
          <div class="col-xl-3">
            <ul class="list-unstyled">
              <li class="text-muted ms-3"><span class="text-black me-4">Amount: </span>@Model.Amount.ToString("N2")</li>
              <li class="text-muted ms-3 mt-2"><span class="text-black me-4">VAT @Model.VAT: </span>@Model.VatAmount.ToString("N2")</li>            
            <li class="text-black float-start"><span class="text-black me-3">Total Amount: </span><span style="font-size: 25px;">@Model.TotalAmount.ToString("N2")</span></li>
          </ul>
          </div>
        </div>
         <div>
            <ul class="list-unstyled">
               <li class="text-muted">Net Weight: <span style="color:#5d9fc5 ;">@Model.NetWeight kg</span></li>
               <li class="text-muted">Gross Weight: <span style="color:#5d9fc5 ;">@Model.GrossWeight kg</span></li>  
               <li><p>Notes: @Model.Comment</p></li>
           </ul>
        </div>
        <hr>
         <div class="row">
                    @if (Model.FscTextEng != null)
                    {
                        @Model.FscTextEng <br />
                           <span>License code:</span> @Model.FscCertificate
                    }
        </div>
        <table class="table-borderless">
            <tr>
                <td class="px-3 mr-5">
                    Event Date: @Model.Date.ToShortDateString() <br />
                    Deal Type: @Model.DealTypeEng <br />
                   Description of the deal: @Model.DealDescriptionEng
                </td>
                <td class="px-3 mr-5">
                    Payment Terms: @Model.PaymentTerms
                </td>
            </tr>

            <tr>
                @foreach (var bank in Model.CompanyBankDetails)
                {
                        <td class="px-3 mr-5">
                                Currency:@bank.Currency<br>
                                Bank:@bank.BankName<br>
                                IBAN:@bank.Iban<br>
                                SWIFT:@bank.Swift
                         </td>
                }
            </tr>
        </table>       
      </div>
    </div>
  </div>
</div>