@model CustomerOrderNumbersForInvoiceListView
@using SSMO.Services.MyCompany
@inject IProductService service;
@inject IMycompanyService mycompanyService;

@{
    ViewBag.Title = "Select Customer Order";    
}

<form method="post">
  @if (!ViewBag.CheckInvoice)
    { <div class="row col-md-4">
        <label asp-for="Number">Fill First Invoice Number</label>
        <input asp-for="Number" type="text" class="form-control" class="form-control">
        </div>
    }
       <div>
        <input type="hidden" value="@Model.CustomerId" asp-for="@Model.CustomerId">
      </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="MyCompanyName"></label>
            <select asp-for="MyCompanyName" class="form-control">
            <option value="">All</option>
                @foreach (var name in Model.MyCompanyNames)
                {
                    <option value="@name">@name</option>
                }

            </select>
        </div>
    </div>
    
    <div class="row col-md-4">
        <label asp-for="Date" >Date of the Invoice</label>
        <input itemid="date" asp-for="Date" name="Date" type="date" id="datepicker" class="form-control"/> 
        <span asp-validation-for="Date" class="small text-danger"></span>
    </div>
     <div class="row col-md-4">
        <label asp-for="Vat">Vat %</label>
        <input asp-for="Vat" type="number"  min="0" step="1" class="form-control" >
    </div>
     <div class="row col-md-4">
        <label asp-for="TruckNumber">Truck Number</label>
        <input asp-for="TruckNumber" type="text" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="Swb">Swb</label>
        <input asp-for="Swb" type="text" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="Incoterms">Incoterms</label>
        <input asp-for="Incoterms" type="text" class="form-control">
    </div>
      <div class="row col-md-4">
        <label asp-for="DeliveryAddress">Delivery Address</label>
        <input asp-for="DeliveryAddress" type="text" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="NetWeight">Net Weight</label>
        <input asp-for="NetWeight" type="text" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="GrossWeight">Gross Weight</label>
        <input asp-for="GrossWeight" type="text" class="form-control">
    </div>
       <div class="row col-md-4">
        <label asp-for="DeliveryCost">Delivery Cost</label>
        <input asp-for="DeliveryCost" type="text" class="form-control">
    </div>
     <div class="form-group row col-md-4">
        <label asp-for="Currency"></label>
        <select id="currency" asp-for="CurrencyId" class="form-control">
            @foreach (var item in Model.Currencies)
            {
                    <option value="@item.Id">@item.Name</option>
            }   

        </select>
    </div>

    <div class="row col-md-4">
        <label asp-for="CurrencyExchangeRateUsdToBGN">Currency Exchange Rate to BGN</label>
        <input asp-for="CurrencyExchangeRateUsdToBGN" type="number"  min="0.00000" step="0.00001" class="form-control" >
    </div>
     <div class="row col-md-4">        
               <label asp-for="Comment">Comment</label>
        <input asp-for="Comment" type="text"  class="form-control" />
        
    </div>
    <hr />
   <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <td>Description</td>
                <td>Size</td>
                <td>Grade</td>
                <td>FSC claim</td>
                <td>FSC certificate</td>
                <td>Unit</td>
                <td>Pallets</td>
                <td>Sheets/pallet</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Truck/Container No</td>
                <td>Choose Cost Price</td>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <div>
                     <input type="hidden" value="@Model.Products[i].Id" asp-for="@Model.Products[i].Id">
                 </div>
                <div>
                     <input type="hidden" value="@Model.Products[i].ProductId" asp-for="@Model.Products[i].ProductId">
                </div>
                <div>
                    <input type="hidden" value="@Model.Products[i].CustomerOrderId" asp-for="@Model.Products[i].CustomerOrderId">
                </div>
               
                <tr>
                    <td class="col-sm-1">
                        <div class="editor-field">
                          <select asp-for="@Model.Products[i].DescriptionId" value="@Model.Products[i].Description">
                               <option value="@Model.Products[i].Description">All</option>
                                @foreach (var description in Model.Products[i].Descriptions)
                                {
                                       <option value="@description.Id">@description.Name</option>
                                }
                          </select>                          
                          <span asp-validation-for="@Model.Products[i].Description" class="small text-danger"></span>
                       </div>
                    </td>
                    <td class="col-sm-1">
                        <div class="editor-field">
                               <select asp-for="@Model.Products[i].SizeId" value="@Model.Products[i].Size">
                                   <option value="@Model.Products[i].Size">All</option>
                                @foreach (var size in Model.Products[i].Sizes)
                                {
                                               <option value="@size.Id">@size.Name</option>
                                }
                                </select>
                             <span asp-validation-for="@Model.Products[i].Size" class="small text-danger"></span>
                        </div>
                    </td>
                    <td class="col-sm-1">
                        <div class="editor-field">
                               <select asp-for="@Model.Products[i].GradeId" value="@Model.Products[i].Grade">
                                     <option value="@Model.Products[i].Grade">All</option>
                                @foreach (var grade in Model.Products[i].Grades)
                                {
                                      <option value="@grade.Id">@grade.Name</option>
                                }
                               </select>
                            <span asp-validation-for="@Model.Products[i].Grade" class="small text-danger"></span>
                        </div>
                    </td>
                    <td class="col-sm-1">
                        <div class="editor-field">                              
                          <input asp-for="@Model.Products[i].FscClaim" value="@Model.Products[i].FscClaim" required="required">
                           <span asp-validation-for="@Model.Products[i].FscClaim" class="small text-danger"></span>
                      </div>
                    </td>

                    <td class="col-sm-1">
                        <div class="editor-field">
                            <select asp-for="@Model.Products[i].FscCertificate" >
                                <option value="-">-</option>
                                <option value="@Model.Products[i].FscCertificate">@Model.Products[i].FscCertificate</option>
                                <span asp-validation-for="@Model.Products[i].FscCertificate" class="small text-danger"></span>
                            </select>
                        </div>
                    </td>
                    <td class="col-sm-1">
                            <div class="editor-field">
                                    <input asp-for="@Model.Products[i].Unit" value="@Model.Products[i].Unit" required="required">
                            <span asp-validation-for="@Model.Products[i].Unit" class="small text-danger"></span>
                                </div>
                    </td>
                    <td class="col-sm-1">
                        <div class="editor-field">
                               <input asp-for="@Model.Products[i].Pallets" value="@Model.Products[i].Pallets" type="number"  required="required">
                              <span asp-validation-for="@Model.Products[i].Pallets" class="small text-danger"></span>
                            </div>
                    </td>
                    <td class="col-sm-1">
                        <div class="editor-field">
                                   <input asp-for="@Model.Products[i].SheetsPerPallet" value="@Model.Products[i].SheetsPerPallet" type="number" required="required">
                             <span asp-validation-for="@Model.Products[i].SheetsPerPallet" class="small text-danger"></span>
                                </div>
                    </td>
                        <td class="col-sm-1">
                        <div class="editor-field">
                                            <input asp-for="@Model.Products[i].InvoicedQuantity" value="@Model.Products[i].InvoicedQuantity"  required="required">
                                   <span asp-validation-for="@Model.Products[i].InvoicedQuantity" class="small text-danger"></span>
                                </div>
                    </td>

                    <td class="col-sm-1">
                        <div class="editor-field">
                               <input asp-for="@Model.Products[i].SellPrice" value="@Model.Products[i].SellPrice" type="number" min="0.0000" step="0.0001" required="required">
                               <span asp-validation-for="@Model.Products[i].SellPrice" class="small text-danger"></span>
                        </div>
                    </td>
                        <td class="col-sm-1">
                        <div class="editor-field">
                             <input asp-for="@Model.Products[i].VehicleNumber" value="@Model.Products[i].VehicleNumber" type="text"  >
                            <span asp-validation-for="@Model.Products[i].VehicleNumber" class="small text-danger"></span>
                    </div>
                    </td>
                    <td class="col-sm-1">
                    <div class="editor-field">                            
                            <select asp-for="@Model.Products[i].PurchaseCostPriceId" required>
                            <option value="">Choose cost price</option>
                                @foreach (var costPrice in Model.Products[i].PurchaseCostPrice)
                                {
                                    <option value="@costPrice.PurchaseCostPriceId">@costPrice.CostPrice</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.Products[i].PurchaseCostPriceId" class="small text-danger"></span>
                    </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
     <div  class="table-responsive-sm">
            <table id="clientTable" class="table-striped">
                <thead>
                    <tr>                       
                        <th>Description</th>
                        <th>Size</th>
                        <th>Grade</th>                        
                        <th>Unit</th>
                        <th>Unit Price</th>    
                        <th class="center">Quantity</th>                        
                    </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < Model.ServiceProducts.Count(); i++)
                {
                            <tr id="tablerow0">      
                                <td>
                                    <div class="editor-field">
                                                <select name="DescriptionId[0]" asp-for="ServiceProducts.ElementAt(i).DescriptionId" class="text-box single-line">
                                            <option value="0">All</option>
                                    @foreach (var description in Model.ServiceProducts.ElementAt(i).Descriptions)
                                    {
                                        <option value="@description.Id">@description.Name</option>
                                    }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                          <select name="SizeId[0]" asp-for="ServiceProducts.ElementAt(i).SizeId" class="text-box single-line">
                                            <option value="">All</option>
                                    @foreach (var size in Model.ServiceProducts.ElementAt(i).Sizes)
                                    {
                                          <option value="@size">@size</option>
                                    }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                                <select name="GradeId[0]" asp-for="ServiceProducts.ElementAt(i).GradeId" class="text-box single-line">
                                            <option value="">All</option>
                                    @foreach (var grade in Model.ServiceProducts.ElementAt(i).Grades)
                                    {
                                         <option value="@grade">@grade</option>
                                    }
                                        </select>
                                    </div>
                                </td>                          
                                
                                 <td class="col-sm-1">
                                            <div class="editor-field">
                                                <select name="Unit" asp-for="ServiceProducts.ElementAt(i).Unit" class="text-box single-line">
                                    @foreach (var unit in service.GetUnits())
                                    {
                                          <option value="@unit">@unit</option>
                                    }
                                                </select>
                                        </div>
                                    </td>
                                <td>
                                    <div class="editor-field">
                                                <input asp-for="ServiceProducts.ElementAt(i).SellPrice" class="text-box single-line" name="SellPrice[0]" value="" required="required">
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                                <input asp-for="ServiceProducts.ElementAt(i).InvoicedQuantity" class="text-box single-line" name="InvoicedQuantity[0]" value="" required="required">
                                    </div>
                                </td>                            
                                <td>
                                    <button type="button" class="btn-danger" onclick="removeTr(0);">Delete</button>
                                </td>
                           </tr>
                            <tr>

                            </tr>

                }                  
                </tbody>                 
            </table>
            <div class="row p-3">
                <button id="addrow" type="button" class="btn btn-outline-success">Add</button>
            </div>
        </div> 
    <input type="submit" value="Create Invoice" class="btn btn-primary mt-3" />

   @* <input type="submit" value="Create Invoice" class="btn btn-primary mt-3"  
        asp-route-orderConfirmationNumber="@Model.SelectedCustomerOrders"
        asp-route-date="@Model.Date" 
        asp-route-currencyExchangeRateUsdToBGN="@Model.CurrencyExchangeRateUsdToBGN" 
        asp-route-number="@Model.Number"
        asp-route-mycompanyname = "@Model.MyCompanyName"/>*@

  @*<div class="row">
        <a class="btn btn-primary float-sm-right"
        asp-controller="Documents"
         asp-action="CreateInvoice"
        asp-route-orderConfirmationNumber="@Model.OrderConfirmationNumber"
        asp-route-date="@Model.Date" 
        asp-route-currencyExchangeRateUsdToBGN="@Model.CurrencyExchangeRateUsdToBGN" 
        asp-route-number="@Model.Number"
        asp-route-mycompanyname = "@Model.MyCompanyName"
       > Create Invoice</a>
    </div>*@
   <hr />
</form>
@section Scripts{
        <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker();
        });

        var counter = 1;
                        $(function products () {
                            $('#addrow').click(function () {
                                $('<tr id="tablerow' + counter + '"><td>' +
                                       ' <select class="text-box single-line" name="DescriptionId[' + counter + ']" asp-for="DescriptionId" ><option value="">All</option>@foreach (var desc in service.DescriptionIdAndNameList()){<option value="@desc.Id">@desc.Name</option>}</select>' +
                                    '</td>' +
                                    '<td>' +
                                        '<select class="text-box single-line" name="SizeId[' + counter + ']" asp-for="SizeId" ><option value="">All</option>@foreach (var size in service.SizeIdAndNameList()){<option value="@size.Id">@size.Name</option>}</select>' +
                                    '</td>' +
                                    '<td>' +
                                        '<select class="text-box single-line" name="GradeId[' + counter + ']" asp-for="GradeId" ><option value="">All</option>@foreach (var grade in service.GradeIdAndNameList()){<option value="@grade.Id">@grade.Name</option>}</select>' +
                                    '</td>' + 
                                   
                                    '<td>' +
                                            '<select class="text-box single-line" name ="Unit[' + counter +']" asp-for = "Unit"><option value="">All</option> @foreach (var unit in service.GetUnits()){<option value="@unit">@unit</option>}</select>' +
                                    '</td>'+                              

                                    '<td>' +
                                    '<input class="text-box single-line" name="SellPrice[' + counter + ']" value="" required="required" />' +
                                    '</td>' +
                                    
                                    '<td>' +
                                    '<input class="text-box single-line" name="InvoicedQuantity[' + counter + ']" value="" required="required" />' +
                                    '</td>' +
                                    '<td>' +
                                     '<button type="button" class="btn btn-primary" onclick="removeTr(' + counter + ');">Delete</button>' +
                                    '</td>' +
                                    '</tr>').appendTo('#clientTable');
                                counter++;
                                return false;
                            });
                        });

                        function removeTr(index) {
                            if (counter > 1) {
                                $('#tablerow' + index).remove();
                                counter--;
                            }
                            return false;
                        }
    </script>
}
        