@using SSMO.Models.Products
@using SSMO.Services.Curruncies
@using SSMO.Services;
@inject ISupplierService supplierService

@model CustomerOrderViewModel
@{
    ViewBag.Title = "Add Customer Order";
    var checkNumber = ViewBag.NumberExist;
}

 <form enctype="multipart/form-data" method="post" >
    <h4>New Customer Order</h4>    
     <div class="form-group row col-md-4">
        <label asp-for="Type">Choose type</label>
        <select asp-for="Type">
          <option value="Order Confirmation">Order Confirmation</option>
           <option value="Proforma Invoice">Proforma Invoice</option>
        </select>
    </div>
        @if(checkNumber == 0)
        {
              <div class="row col-md-4">
        <label asp-for="OrderConfirmationNumber"></label>
        <input id="number" asp-for="OrderConfirmationNumber" type="number" class="form-control"/>
        <span asp-validation-for="OrderConfirmationNumber" class="small text-danger"></span>
    </div>
        }       
     <div class="row col-md-4">
        <label asp-for="CustomerPoNumber"></label>
        <input asp-for="CustomerPoNumber" class="form-control"/>
        <span asp-validation-for="CustomerPoNumber" class="small text-danger"></span>
    </div>
    <div class="row row col-md-4">
        <label asp-for="Date"></label>
        <input itemid="date" asp-for="Date" name="Date" type="date" id="datepicker" class="form-control"/> 
        <span asp-validation-for="Date" class="small text-danger"></span>
    </div>
    <div class="form-group row col-md-4">
        <label asp-for="DeliveryTerms"></label>
        <input id="deliveryterms" asp-for="DeliveryTerms" type="text" class="form-control" placeholder="Delivery Terms" />
        <span asp-validation-for="DeliveryTerms" class="small text-danger"></span>
    </div>
    <div class="form-group row col-md-4">
        <label asp-for="LoadingPlace"></label>
        <input id="loadingplace" asp-for="LoadingPlace" type="text" class="form-control" placeholder="Loading place" />       
    </div>

    <div class="form-group row col-md-4">
        <label asp-for="DeliveryAddress"></label>
        <input id="deliveryaddress" asp-for="DeliveryAddress" type="text" class="form-control" placeholder="Delivery address" />       
    </div>

    <div class="form-group row col-md-4">
        <label asp-for="Currency"></label>
        <select id="currency" asp-for="CurrencyId" class="form-control">
            @foreach (var item in Model.Currencies )
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group row col-md-4">
        <label asp-for="ChosenBanks">Choose Banks</label>
        <select asp-for="ChosenBanks" class="form-control" multiple>
            @foreach (var item in Model.BankDetails)
            {
               <option value="@item.Id">@item.CurrencyName:@item.BankName - @item.Iban</option>
            } 
        </select>
    </div>
    <div class="form-group row col-md-4">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label >Customer</label>
                <select id="client" asp-for="CustomerId" class="form-control">
                <option value="">All</option>
                    @foreach (var item in Model.Customers)
                    {
                        <option value="@item.Id">@item.Name</option>                        
                    }
                    <span asp-validation-for="CustomerId" class="small text-danger"></span>
                </select>
            </div>

        </div>
        <div class="form-group col-md-6">
            <div class="form-group">
                <label >My Company</label>
                <select id="mycompany" asp-for="MyCompanyId" class="form-control">
                <option value="">All</option>
                    @foreach (var company in Model.MyCompanies)
                    {
                        <option value="@company.Id">@company.Name</option>
                    }
                    <span asp-validation-for="MyCompanyId" class="small text-danger"></span>
                </select>
            </div>            
        </div>    
    </div>
    <div class="form-group row col-md-4">
       
        <label>Choose Fiscal Agent</label>
        <select asp-for="@Model.FiscalAgentId" class="form-control">
            <option value="">-</option>
                @foreach (var agent in Model.FiscalAgents)
                {
                    <option value="@agent.Id">@agent.Name</option>
                }
        </select> 
    </div>
    <div class="form-group row col-md-4">
        <label asp-for="Origin"></label>
        <input asp-for="Origin" type="text" class="form-control" />
        <span asp-validation-for="Origin" class="small text-danger"></span>
    </div>
    <div class="form-group row col-md-4">
        <td>
            <label asp-for="Vat"></label>
            <input asp-for="Vat"  min="0" step="1" class="form-control" type="number" />
        </td>
      
             <td><label >Status</label>
                <select  asp-for="StatusId" class="form-control">
                    @foreach (var status in Model.Statuses)
                    {
                        <option value="@status.Id">@status.Name</option>
                    }
                    <span asp-validation-for="StatusId" class="small text-danger"></span>
                </select>
             </td>          
    </div>
    <div class="form-group row col-md-4">
        <label asp-for="Comment"></label>
            <input asp-for="Comment" class="form-control" type="text" />
    </div>
     <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="DealType">Deal Type Eng</label>
            <select asp-for="DealType" class="form-control">
            <option value="-">-</option>
            <option value="0% VAT according to article 21, p.2 from Bulgarian VAT Law">0% VAT according to article 21, p.2 from Bulgarian VAT Law</option>
           <option value="0% VAT according to article.69, p.2 from Bulgarian VAT Law">0% VAT according to article.69, p.2 from Bulgarian VAT Law</option>
           <option value="0% VAT according to article 53, p.1 from Bulgarian VAT Law">0% VAT according to article 53, p.1 from Bulgarian VAT Law</option>
           <option value="0% VAT according to article 141 2006/112/ЕО from Bulgarian VAT Law">0% VAT according to article 141 2006/112/ЕО from Bulgarian VAT Law</option>    
         </select>
    </div>
        <div class="form-group col-md-4">
            <label asp-for="DealDescription">Deal Description</label>
            <select asp-for="DealDescription" class="form-control">
            <option value="-">-</option>
            <option value="Participates in a VIES declaration">Participates in a VIES declaration</option>
           <option value=" 	Agent in Third party"> 	Agent in Third party</option>
            <option value="Participates in a VIES declaration, but not in Intrastat Declaration">Participates in a VIES declaration, but not in Intrastat Declaration</option>
          </select>
        </div>
    </div>
    
    @if(Model.SupplierOrdersBySupplier.Count() > 0)
    {
           <div class="form-group row col-sm-4">
           <label>Supplier Order</label>
                <select multiple asp-for="SelectedSupplierOrders" class="form-control">
                @foreach (var item in Model.SupplierOrdersBySupplier)
                {
                        <option value="@item.SupplierOrderId">@item.SupplierAndOrderSelect</option>
                }  
            </select>

       </div>   
    }

   @* <div class="row col-md-4 mb-3">
        <div class="form-group">
                <label asp-for="SupplierId">Supplier</label>
                <select name="SupplierId" asp-for="SupplierId" class="form-select">
                 <option value="">All</option>
                @foreach (var supplier in Model.Suppliers)
                {
                    <option value="@supplier.Id">@supplier.Name</option>
                }
                <span asp-validation-for="SupplierId" class="small text-danger"></span> 
                </select>
        </div>

    </div>
     <div class="row col-md-4 mb-3">           
                 <label class="control-label"> Select SupplierOrder</label>
                 <select class="form-control" id="SupplierOrderNumber" name="SupplierOrderId" asp-for="SupplierOrderId" asp-items="@(new SelectList(string.Empty,"SupplierOrderId", "SupplierOrderNumber"))"></select>               
     </div>   *@
    @* <input type="hidden" name="customerorderid" value="@model.id" />*@
        <input type="submit" value="Add Order Products" class="btn btn-primary mt-3"/>        
 </form> 


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

        <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
       
 @*<script type="text/javascript">
            $(document).ready
            (
                    function() 
                    {
                    //Dropdownlist Selectedchange event
                    $("#SupplierId").change(function() {                        
                        $("#SupplierOrderNumber option").remove();
                        var supplierId = $(this).val(); 
                        $.ajax({
                            type: 'GET',
                            url: "/CustomerOrders/GetSupplierOrders", 
                            dataType: 'json',
                            data: { id: supplierId },
                            success: function(selectedSuppliers) {                           
                                $("#SupplierOrderNumber").append('<option value="' + "0" + '">' + "Select SupplierOrderNumber" + '</option>');
                                debugger;
                                for (var i = 0; i < selectedSuppliers.length; i++) 
                                {
                                   $("#SupplierOrderNumber").append('<option value="' + selectedSuppliers[i].SupplierOrderId + '">' + selectedSuppliers[i].SupplierOrderNumber + '</option>');
                                }      

                                debugger;                          
                           },
                            error: function(ex) {
                                alert('Failed to retrieve supplierOrderNumber' + ex);
                            }
                        });
                        return false;
                    })
                    }

                );
         
     </script>*@

     }

        







