@using SSMO.Models.Products
@using SSMO.Services.Curruncies

@model CustomerOrderViewModel
@{
    ViewBag.Title = "Add Customer Order";
    var checkNumber = ViewBag.NumberExist;
}

 <form enctype="multipart/form-data" method="post" >
         
        @if(checkNumber == 0)
        {
              <div class="row col-md-4">
        <label asp-for="OrderConfirmationNumber"></label>
        <input id="number" asp-for="OrderConfirmationNumber" type="number" class="form-control"/>
        <span asp-validation-for="OrderConfirmationNumber" class="small text-danger"></span>
    </div>
        }       
     <div class="row col-md-4">
        <label asp-for="CustomerPoNumber"></label>
        <input asp-for="CustomerPoNumber" class="form-control"/>
        <span asp-validation-for="CustomerPoNumber" class="small text-danger"></span>
    </div>
    <div class="row col-md-4">
        <label asp-for="Date"></label>
        <input itemid="date" asp-for="Date" name="Date" type="date" id="datepicker" class="form-control"/> 
        <span asp-validation-for="Date" class="small text-danger"></span>
    </div>
    <div class="form-group row col-md-4">
        <label asp-for="DeliveryTerms"></label>
        <input id="deliveryterms" asp-for="DeliveryTerms" type="text" class="form-control" placeholder="Delivery Terms" />
        <span asp-validation-for="DeliveryTerms" class="small text-danger"></span>
    </div>
    <div class="form-group row col-md-4">
        <label asp-for="LoadingPlace"></label>
        <input id="loadingplace" asp-for="LoadingPlace" type="text" class="form-control" placeholder="Loading place" />       
    </div>

    <div class="form-group row col-md-4">
        <label asp-for="DeliveryAddress"></label>
        <input id="deliveryaddress" asp-for="DeliveryAddress" type="text" class="form-control" placeholder="Delivery address" />       
    </div>

    <div class="form-group col-md-4">
        <label asp-for="CurrencyId"></label>
        <select id="currency" asp-for="CurrencyId" class="form-control">
            @foreach (var item in Model.Currencies )
            {
                <option value="@item.Id">@item.Name</option>
            }   

        </select>
    </div>

    <div class="row" id="customer-row">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="CustomerId"></label>
                <select id="client" asp-for="CustomerId" class="form-control">
                    @foreach (var item in Model.Customers)
                    {
                        <option value="@item.Id">@item.Name</option>
                        
                    }
                    <span asp-validation-for="CustomerId" class="small text-danger"></span>
                </select>
            </div>

        </div>
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="MyCompanyId"></label>
                <select id="mycompany" asp-for="MyCompanyId" class="form-control">
                    @foreach (var company in Model.MyCompanies)
                    {
                        <option value="@company.Id">@company.Name</option>
                    }
                    <span asp-validation-for="MyCompanyId" class="small text-danger"></span>
                </select>
            </div>
            
        </div>
    
    </div>
    <div class="form-group-sm col-md-4">
        <label asp-for="Origin"></label>
        <input asp-for="Origin" type="text" class="form-control" />
        <span asp-validation-for="Origin" class="small text-danger"></span>
    </div>
    <div class="form-group row col-md-4">
        <td>
            <label asp-for="Vat"></label>
            <input asp-for="Vat"  min="0" step="1" class="form-control" type="number" />
        </td>
       <td>
            <label asp-for="ProductsCount"></label>
            <input type="number" asp-for="ProductsCount" min="0" step="1" class="form-control"/>

       </td>
             <td><label asp-for="StatusId"></label>
                <select  asp-for="StatusId" class="form-control">
                    @foreach (var status in Model.Statuses)
                    {
                        <option value="@status.Id">@status.Name</option>
                    }
                    <span asp-validation-for="StatusId" class="small text-danger"></span>
                </select>

             </td>  
        
    </div>
    @* <input type="hidden" name="customerorderid" value="@model.id" />*@
        <input type="submit" value="Add Products" class="btn btn-primary mt-3" />
 </form> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">

<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

 

        







