@model ProductViewModel


<form method="post">    
    <fieldset>
        <h4 class="modal-title" id="gridSystemModalLabel">Add Products</h4>
        <table id="clientTable" class="table table-bordered">
            <thead class="thead-light">
                <tr>
                 <td>Description</td>
                <td>Size</td>
                <td>Grade</td>
                <td>FSC claim</td>
                <td>FSC certificate</td>
                <td>Pieces</td>
                <td>Quantity m3</td>
                <td>Price</td>
                <td>Total Amount</td>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    <tr>
                        <input type="hidden" >
                    </tr>
                   
                        <tr>
                            <td>
                                <div class="editor-field">
                                    <select name="Description[0]" id="Description" asp-for="@Model.Description" >
                                        <option value="">All</option>
                                        @foreach (var type in Model.Descriptions)
                                        {
                                            <option value="@type">@type</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    <select name="Size" id="Size" asp-for="@Model.Size">
                                        <option value="">All</option>
                                        @foreach (var size in Model.Sizes)
                                        {
                                            <option value="@size">@size</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="editor-field">
                                    <select name="Grade" id="Grade" asp-for="@Model.Grade">
                                        <option value="">All</option>
                                        @foreach (var grade in Model.Grades)
                                        {
                                            <option value="@grade">@grade</option>
                                        }
                                    </select>
                                </div>
                            </td>

                               <td class="col-sm-1">
                                <div class="editor-field">
                                   @* <select name="FSCClaim[0]" id="FSCClaim" asp-for="@Model.FSCClaim">

                                        <option value="">-</option>*@
                                      
                                  
                                    <input asp-for="@Model.FSCClaim" id="FSCclaim" class="text-box single-line" name="FSCClaim" value="" required="required">
                                </div>
                            </td>

                             <td class="col-sm-1">
                                <div class="editor-field">
                                    <input asp-for="@Model.FSCSertificate" id="FSCCertificate" class="text-box single-line" name="FSCSertificate" value="" required="required">
                                </div>
                            </td>

                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <input asp-for="@Model.Pieces" id="Pieces" class="text-box single-line" name="Pieces" value="" required="required">
                                </div>
                            </td>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <input asp-for="@Model.Cubic" id="Cubic" class="text-box single-line" name="Cubic" value="" required="required">
                                </div>
                            </td>
                            <td class="col-sm-1">
                                <div class="editor-field">

                                    <input asp-for="@Model.CostPrice" id="Price" class="text-box single-line" name="CostPrice" value="" required="required">
                                </div>
                            </td>
                            
                        </tr>
                    

                }

            </tbody>                
            
        </table>
       
        <hr />
        <p>
            <button type="submit" class="btn btn-primary">Save</button>
        </p>
      
    </fieldset>
</form>
