@model List<ProductCustomerFormModel>

@using SSMO.Services.Products
@inject IProductService service;
@{
   

     var count = int.Parse(TempData["Count"].ToString());
}


<form method="post">    
    <fieldset>
        <h4 >Add Products</h4>
        <table id="clientTable" class="table table-bordered">
            <thead class="thead-light">
                <tr>
                 <td>Description</td>
                <td>Size</td>
                <td>Grade</td>
                <td>FSC claim</td>
                <td>FSC certificate</td>
                 <td>Pallets</td>
               <td>Sheets/pallet</td>
             @*  <td>Quantity m3</td>*@
                <td>Price</td>
              
                </tr>
            </thead>
            <tbody>
 
                        @for (int i = 0; i < count; i++)
                {
                     <tr>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <select asp-for="@Model[i].Description" >
                                        <option value="">All</option>
                                        @foreach (var type in service.GetDescriptions())
                                        {
                                            <option value="@type">@type</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <select id="Size" asp-for="@Model[i].Size">
                                        <option value="">All</option>
                                        @foreach (var size in service.GetSizes())
                                        {
                                            <option value="@size">@size</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <select asp-for="@Model[i].Grade">
                                        <option value="">All</option>
                                        @foreach (var grade in service.GetGrades())
                                        {
                                            <option value="@grade">@grade</option>
                                        }
                                    </select>
                                </div>
                            </td>

                               <td class="col-sm-1">
                                <div class="editor-field">
                                   @* <select name="FSCClaim[0]" id="FSCClaim" asp-for="@Model.FSCClaim">

                                        <option value="">-</option>*@
                                      
                                  
                                    <input asp-for="@Model[i].FSCClaim"  class="text-box single-line"  value="" required="required">
                                </div>
                            </td>

                             <td class="col-sm-1">
                                <div class="editor-field">
                                    <input asp-for="@Model[i].FSCSertificate" class="text-box single-line"  value="" required="required">
                                </div>
                            </td>

                             <td class="col-sm-1">
                                <div class="editor-field">

                                    <input asp-for="@Model[i].Pallets" class="text-box single-line"  value="" required="required">
                                </div>
                            </td>
                            <td class="col-sm-1">
                                <div class="editor-field">

                                    <input asp-for="@Model[i].SheetsPerPallet" class="text-box single-line"  value="" required="required">
                                </div>
                            </td>

                           
                            <td class="col-sm-1">
                                <div class="editor-field">

                                    <input asp-for="@Model[i].Price" type="number" min="0.0000" step="0.0001" class="text-box single-line"  value="" required="required">
                                </div>
                            </td>
                           
                            
                        </tr>
                }                
                       
                

            </tbody>                
            
        </table>
       
        <hr />
        <p>
            <input type="submit" value="Save" class="btn btn-primary mt-3"/>
           
        </p>
      
    </fieldset>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}