@model IEnumerable<CustomerOrderListViewBySupplier>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                OC Number
                </th>
                <th>
                    Date
                </th>
                <th>
                    Customer PO number
                </th>
                <th>
                   Loading Address
                </th>
                <th>
                    Delivery Address
                </th>
                <th>
                  Order Status 
                </th>
                <th>
                  Payment Status 
                </th>
            </tr>
        </thead>
        <tbody>
             @foreach(var item in Model)
    {
        <tr>
            <th>
                @item.OrderConfirmationNumber
            </th>
            <th >
                @item.Date
            </th>
            <th >
                @item.CustomerPoNumber
            </th>
            <th>
                @item.LoadingPlace
            </th>
            <th>
                @item.DeliveryAddress
            </th>
            <th>
                @item.StatusName
            </th>
             <th>
                @item.PaidAmountStatus
            </th>
        </tr>
      
    }
        </tbody>

    </table>
   
</div>

