@model InvoicesViewModel
@{
    ViewBag.Title = "All Invoices";
}

<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="MyCompanyName"></label>
            <select asp-for="MyCompanyName" class="form-control">
            <option value="">All</option>
                @foreach (var name in Model.MyCompanyNames)
                {
                    <option value="@name">@name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
<input type="submit" class="btn btn-info" value="Search"/></div>
<br />
</form>

@{
    var previouspage = Model.CurrentPage - 1;
    if(previouspage < 1)
    {
        previouspage = 1;
    }

    var maxpage = Math.Ceiling((double)Model.TotalInvoices / InvoicesViewModel.InvoicesPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Reports"
           asp-action="AllInvoices"
           asp-route-currentPage="@previouspage"
           asp-route-myCompanyName="@Model.MyCompanyName"
          ><<</a>
    </div>
    
    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxpage ||
                                     Model.InvoiceCollection == null ;
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Reports"
           asp-action="AllInvoices"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-myCompanyName="@Model.MyCompanyName"
           >>></a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Invoice Number
            </th>
            <th>
                Document type
            </th>
            <th>
                Date
            </th>
            <th>
                Customer
            </th>
            <th>
                Customer OC Numbers
            </th>
            <th>
                Delivery Terms
            </th>
            <th>
                Invoice Amount
            </th>
            <th>
                Credit Note to Invoice N
            </th>
             <th>
                Debit Note to Invoice N
            </th>
        </tr>
    </thead>
    <tbody> 
        @if(Model.InvoiceCollection != null)
        {
            @foreach (var order in Model.InvoiceCollection)
            {
                        <tr>
                            <th>
                        @order.DocumentNumber
                            </th>
                        <th>
                        @order.DocumentType
                        </th>
                            <th>
                        @order.Date
                            </th>
                            <th>
                        @order.CustomerName
                            </th>
                            <th>
                        @foreach (var item in order.CustomerOrders)
                        {
                            @item.OrderConfirmationNumber <br />
                        }
                            </th>
                            <th>
                        @order.Incoterms
                            </th>
                            <th>
                        @order.TotalAmount
                            </th>
                            <th>
                        @order.CreditToInvoiceNumber
                            </th>
                            <th>
                        @order.DebitToInvoiceNumber
                            </th>
                            <th><a asp-controller="Reports" asp-action="InvoiceDetails" asp-route-id="@order.Id" class="btn btn-info mr-1">Details</a></th>
                    @if(order.DocumentType == "Invoice")
                    {
                                    <th> <a asp-controller="Reports" asp-action="EditInvoice" asp-route-id="@order.Id" asp-route-documentType="@order.DocumentType" class="btn btn-info mr-1">Edit</a> </th>
                    }
                    else if(order.DocumentType == "CreditNote")
                    {
                                    <th> <a asp-controller="Reports" asp-action="EditCreditNote" asp-route-id="@order.Id" asp-route-documentType="@order.DocumentType" class="btn btn-info mr-1">Edit</a> </th>
                    }
                    else
                    {
                                    <th> <a asp-controller="Reports" asp-action="EditDebitNote" asp-route-id="@order.Id" asp-route-documentType="@order.DocumentType" class="btn btn-info mr-1">Edit</a> </th>
                    }
                    
                        </tr>
            }  
        }                     
    </tbody>
</table>
