@model CustomerOrderDetailsModel
@{
    ViewBag.Title = "Customer Order Details";
}
<div class="card col-lg-3 col-md-6 mb-4">
    <div class="card-body">
        <p><strong> Company:</strong> <em> @Model.MyCompanyName</em></p>
        <p><strong>Customer:</strong> <em>@Model.CustomerName</em></p>

    </div>
</div>

<hr />

<dl class="row">
     <dt class="col-sm-3">
        Order No:
    </dt>
    <dd class="col-sm-5">
        @Model.OrderConfirmationNumber
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-3">
        Date:
    </dt>
    <dd class="col-sm-5">
         @Model.Date.Date
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-3">
        Loading Address:
    </dt>
    <dd class="col-sm-5">
          @Model.LoadingPlace
    </dd>
</dl>
    <dl class="row">
      <dt class="col-sm-3">
        Delivery Address:
    </dt>
    <dd class="col-sm-5">
         @Model.DeliveryAddress
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-3">
        Delivery Terms:
    </dt>
    <dd class="col-sm-5">
         @Model.DeliveryTerms
    </dd>
 </dl>
 <dl class="row">
    <dt class="col-sm-3">
        Order Status:
    </dt>
    <dd class="col-sm-5">
         @Model.StatusName
    </dd>
</dl>
<hr />
<p class="text-uppercase font-weight-bold">Products</p>
<table>
     <thead>
                     <tr>                       
                            <th>Description</th>
                            <th>Size</th>
                            <th>Grade</th>
                            <th>FSC Claim</th>
                            <th>FSC Certificate</th>
                            <th>Pallets</th> 
                            <th>Sheets/Pallet</th> 
                            <th>Unit</th>                                      
                            <th>Quantity</th> 
                            <th>Price</th>                             
                            <th>Amount</th>
                        </tr>
            </thead>
            <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                    <td class="col-sm-1">
                        <div class="editor-field">
                            @product.DescriptionName
                        </div>
                    </td>
                        <td class="col-sm-1">
                            <div class="editor-field">
                        @product.SizeName
                            </div>
                        </td>
                            <td class="col-sm-1">
                            <div class="editor-field">
                        @product.GradeName
                            </div>
                        </td>
                            <td class="col-sm-1">
                            <div class="editor-field">
                        @product.FscClaim
                            </div>
                        </td>
                            <td class="col-sm-1">
                            <div class="editor-field">
                        @product.FscCertificate
                            </div>
                        </td>
                             <td class="col-sm-1">
                                <div class="editor-field">
                        @product.Pallets
                                </div>
                            </td>
                                <td class="col-sm-1">
                                <div class="editor-field">
                        @product.SheetsPerPallet
                                </div>
                            </td>
                            <td class="col-sm-1">
                            <div class="editor-field">
                        @product.Unit
                            </div>
                        </td>
                            <td class="col-sm-1">
                            <div class="editor-field">
                        @product.Quantity
                            </div>
                        </td>
                            <td class="col-sm-1">
                            <div class="editor-field">
                        @product.SellPrice
                            </div>
                        </td>
                        
                        <td class="col-sm-1">
                            <div class="editor-field">
                        @product.Amount
                            </div>
                        </td>

                        <td class="col-sm-1">
                        <div class="editor-field">
                        @product.SupplierName
                        </div>
                        </td>

                        <td class="col-sm-1">
                        <div class="editor-field">
                        @product.SupplierOrderNumber
                        </div>
                        </td>
            </tr>

        }
            </tbody>
   
</table>

