@model CustomerOrderForEdit
@using SSMO.Services.Products
@inject IProductService service;
@{
    ViewBag.Title = "Edit Customer Order";
}
<form method="post">
    <div class="row col-md-4">
        <label asp-for="CustomerPoNumber"></label>
        <input asp-for="CustomerPoNumber" class="form-control" />
        <span asp-validation-for="CustomerPoNumber" class="small text-danger"></span>
    </div>
    <div class="row col-md-4">
        <label asp-for="Date"></label>
        <input id="date" asp-for="Date" value="@Model.Date" name="Date" type="date" id="datepicker" class="form-control" />
        <span asp-validation-for="Date" class="small text-danger"></span>
    </div>
    <div class="form-group row col-md-4">
        <label asp-for="DeliveryTerms"></label>
        <input id="deliveryterms" asp-for="DeliveryTerms" type="text" class="form-control" placeholder="Delivery Terms" />
        <span asp-validation-for="DeliveryTerms" class="small text-danger"></span>
    </div>
    <div class="form-group row col-md-4">
        <label asp-for="LoadingPlace"></label>
        <input id="loadingplace" asp-for="LoadingPlace" type="text" class="form-control" placeholder="Loading place" />

    </div>
    <div class="form-group row col-md-4">
        <label asp-for="DeliveryAddress"></label>
        <input id="deliveryaddress" asp-for="DeliveryAddress" type="text" class="form-control" placeholder="Delivery address" />
    </div>
     <div class="form-group row col-md-8">
         <td class="col-md-4">
         <label asp-for="Eta">ETA</label>
        <input  asp-for="Eta" type="text" class="form-control" placeholder="Estimate time of arrival" />       
         </td>
        <td class="col-md-4">
         <label asp-for="Etd">ETD</label>
        <input  asp-for="Etd" type="text" class="form-control" placeholder="Estimate time of depart" />       
         </td>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="CurrencyId"></label>
        <select id="currency" asp-for="CurrencyId" class="form-control">
            @foreach (var item in Model.Currencies)
            {
                    <option value="@item.Id">@item.Name</option>
            }

        </select>
    </div>
     <div class="form-group row col-md-4">
        <label asp-for="ChosenBanks">Choose Banks</label>
        <select asp-for="ChosenBanks" class="form-control" multiple>
            @foreach (var item in Model.BankDetails)
            {
                   <option value="@item.Id">@item.CurrencyName:@item.BankName - @item.Iban</option>
            }   

        </select>
    </div>
    <div class="form-group col-md-4">
        <div class="form-group">
            <label asp-for="MyCompanyId"></label>
            <select asp-for="MyCompanyId" class="form-control">
            @foreach (var company in Model.MyCompanies)
            {
                        <option value="@company.Id">@company.Name</option>
            }
                <span asp-validation-for="MyCompanyId" class="small text-danger"></span>
            </select>
        </div>

    </div>
     <div class="form-group col-md-4">
        <div class="form-group">
            <label asp-for="FiscalAgentId">Choose Fiscal Agent</label>
            <select asp-for="FiscalAgentId" class="form-control">
                <option value="">-</option>
                @foreach (var agent in Model.FiscalAgents)
                {
                            <option value="@agent.Id">@agent.Name</option>
                }
                <span asp-validation-for="FiscalAgentId" class="small text-danger"></span>
            </select>
        </div>
    </div>

    <div class="form-group-sm col-md-4">
        <label asp-for="Origin"></label>
        <input asp-for="Origin" type="text" class="form-control" />
        <span asp-validation-for="Origin" class="small text-danger"></span>
    </div>
    <div class="form-group-sm col-md-4">
        <label asp-for="PaymentTerms">Payment Terms</label>
        <input asp-for="PaymentTerms" type="text"  class="form-control" />
        <span asp-validation-for="PaymentTerms" class="small text-danger"></span>
    </div>   
    <div class="form-group row col-md-4">
            <label asp-for="Vat">VAT %</label>
            <input asp-for="Vat" min="0" step="1" class="form-control" type="number" />
       </div>

    <div class="form-group row col-md-4">
            <label asp-for="StatusId"></label>
            <select asp-for="StatusId" class="form-control">
            @foreach (var status in Model.Statuses)
            {
                        <option value="@status.Id">@status.Name</option>
            }
                <span asp-validation-for="StatusId" class="small text-danger"></span>
            </select>
    </div>
      <div class="form-group col-md-4">
        <div class="form-group">
            <label asp-for="FscText">Fsc Text</label>
            <select asp-for="FscText" class="form-control">
                <option value="">-</option>
                @foreach (var fsc in Model.FscTexts)
                {
                                <option value="@fsc.Id">@fsc.FscTextEng</option>
                }
                <span asp-validation-for="FiscalAgentId" class="small text-danger"></span>
            </select>
        </div>

    </div>
    <h6>Products</h6>
    <hr />
    <div class="row">
        <table>
            <thead class="thead-light">
                <tr>
                    <td>Description</td>
                    <td>Size</td>
                    <td>Grade</td>
                    <td>FSC claim</td>
                    <td>FSC certificate</td>
                    <td>Unit</td>
                    <td>Pallets Number</td>
                    <td>Sheets/pallet</td>
                    <td>Quantity</td>
                    <td>Price</td>
                </tr>
            </thead>
          <tbody>
                @for (int i = 0; i < Model.Products.Count; i++)
                {
                      <tr>
                              <input type="hidden" asp-for="@Model.Products[i].Id" value="@Model.Products[i].Id">
                             <input type="hidden" asp-for="@Model.Products[i].ProductId" value="@Model.Products[i].ProductId">
                            <td class="col-sm-1">
                                <div class="editor-field">
                                   <select asp-for="@Model.Products[i].Description">
                                        <option value="">All</option>
                                    @foreach (var type in service.GetDescriptions())
                                    {
                                                <option value="@type">@type</option>
                                    }
                                    </select>
                                </div>
                            </td>
                            <br>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                   <select id="Size" asp-for="@Model.Products[i].Size">
                                        <option value="">All</option>
                                    @foreach (var size in service.GetSizes())
                                    {
                                                <option value="@size">@size</option>
                                    }
                                    </select>
                                </div>
                            </td>
                            <br>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <select asp-for="@Model.Products[i].Grade">
                                        <option value="">All</option>
                                    @foreach (var grade in service.GetGrades())
                                    {
                                                <option value="@grade">@grade</option>
                                    }
                                    </select>
                                </div>
                            </td>
                            <br>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                <input asp-for="@Model.Products[i].FSCClaim" class="text-box single-line" placeholder="FSC Claim" aria-label="FSC Claim" value="@Model.Products[i].FSCClaim" >
                                </div>
                            </td>
                            <br>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                   <input asp-for="@Model.Products[i].FscCertificate" class="text-box single-line" placeholder="FSC Certificate" aria-label="FSC Certificate" value="@Model.Products[i].FscCertificate">
                                </div>
                            </td>
                            <br>
                            <td class="col-sm-1">
                                 <div class="editor-field">
                                 <select asp-for="@Model.Products[i].Unit">
                                    @foreach (var unit in service.GetUnits())
                                    {
                                      <option value="@unit">@unit</option>
                                    }
                                  </select>
                                        </div>
                                    </td>
                                    <br>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <input asp-for="@Model.Products[i].Pallets" class="text-box single-line" value="@Model.Products[i].Pallets" aria-label="Pallets" required="required">
                                </div>
                            </td>
                            <br>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                   <input asp-for="@Model.Products[i].SheetsPerPallet" class="text-box single-line" aria-label="Sheets/Pallets" value="@Model.Products[i].SheetsPerPallet" required="required">
                                </div>
                            </td>

                            <br>
                             <td class="col-sm-1">
                                <div class="editor-field">
                                   <input asp-for="@Model.Products[i].Quantity" class="text-box single-line" aria-label="QuantityM3" value="@Model.Products[i].Quantity">
                                </div>
                            </td>

                            <br>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <input asp-for="@Model.Products[i].SellPrice" type="number" min="0.0000" step="0.0001" class="text-box single-line" aria-label="Sell Price" value="@Model.Products[i].SellPrice" required="required">
                                </div>
                            </td>
                        </tr>
                }
          </tbody>   

        </table>

     </div>
      
    @if(Model.SupplierOrdersBySupplier.Count() > 0)
    {
     <div class="form-group row col-sm-4">
           <label>New Supplier Order</label>
            <select multiple asp-for="SelectedSupplierOrders" class="form-control">
            @foreach (var item in Model.SupplierOrdersBySupplier)
            {
                            <option value="@item.SupplierOrderId">@item.SupplierAndOrderSelect</option>
            }  
            </select>

       </div> 
    }
    @* <input type="hidden" name="customerorderid" value="@model.id" />*@
    <div class="row">
       <td class="col"> <input type="submit" name="Command" value="Save" class="btn btn-primary mt-3" /></td> 
       <td></td>
       <td class="col"><input type="submit" name="Command" value="Add More Products" class="btn btn-primary mt-3" /></td> 
    </div>
  <br />
</form>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}