@model CustomerOrderPaymentReportViewModel

<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="CustomerName"></label>
            <select asp-for="CustomerName" class="form-control">
                <option value="">All</option>
                @foreach (var customerName in Model.CustomerNames)
                {
                    <option value="@customerName">@customerName</option>
                }

            </select>
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-info" value="Search" />
    </div>
    <br />
</form>

@{
    var previouspage = Model.CurrentPage - 1;
    if (previouspage < 1)
    {
        previouspage = 1;
    }

    var maxpage = Math.Ceiling((double)Model.TotalCustomerOrders / CustomerInvoicePaymentsReportsViewModel.CustomerInvoicesPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Reports"
           asp-action="CustomerOrdersPaymentReport"
           asp-route-currentPage="@previouspage"
           asp-route-customerName="@Model.CustomerName"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxpage ||
                                     Model.CustomerOrdersPaymentCollection == null;
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Reports"
           asp-action="CustomerOrdersPaymentReport"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-customerName="@Model.CustomerName">>></a>
    </div>
</div>
<table class="table">   
    <thead>
        <tr>
            <th>
                No
            </th>
                <th>
                Order Number
                </th>
                <th>
                    Date
                </th>
                <th>
                    Payment Status
                </th>
                 <th>
                    Amount
                </th>
                <th>
                    Advance Payment
                </th>
                <th>
                    Date of Payment
                </th>
                <th>
                    Balance
                </th>
                <th>Following payments</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            int j = 1;
        }
        @if(Model.CustomerOrdersPaymentCollection != null)
        {
            @foreach (var order in Model.CustomerOrdersPaymentCollection)
            {
                <tr style="background-color:lightyellow">
                    <th>@i.</th>
                    <th> @order.OrderConfirmationNumber</th>
                    <th> @order.Date</th>
                    @if (@order.PaidStatus == true)
                    {
                        <th>Paid</th>
                    }
                    else
                    {
                        <th>Not Paid</th>
                    }
                    <th> @order.TotalAmount</th>
                    <th> @order.PaidAvance</th>
                    <th> @order.DatePaidAmount</th>
                    <th> @order.Balance</th>
                            <th>@if (order.CustomerOrderPayments != null)
                        {
                            foreach (var payment in order.CustomerOrderPayments)
                            {
                                @payment.PaidAmount <p>-</p> @payment.DatePaidAmount <br />
                            }
                        }</th>
                    
                   <th><a asp-controller="Reports" asp-action="EditCustomerOrderPayment" asp-route-orderConfirmationNumber="@order.OrderConfirmationNumber" class="btn btn-outline-info mr-1">Edit</a></th> 
                </tr>
               
                <tr>
                     <th colspan="9">
                       <p>Invoices issued to this CO:</p>
                        @if (order.InvoicesDetails != null)
                        {
                        <table>
                            <thead>
                                <tr style="background-color:lightgreen">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Invoice No
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Advance Payment
                                    </th>
                                    <th>
                                        Date 
                                    </th>                                      
                                    <th>
                                        Following payments
                                    </th>
                                </tr> 
                            </thead>
                            <tbody>
                            @foreach (var invoice in order.InvoicesDetails)
                            {
                                <tr>
                                    <td>@i.@j</td>
                                    <td>
                                @invoice.DocumentNumber
                                    </td>
                                    <td>@invoice.Date</td>
                                    <td>@invoice.AdvancePayment</td>
                                    <td>@invoice.DateAdvancePayment</td>
                                    <td>
                                @if (invoice.Payments != null)
                                {
                                    foreach (var payment in invoice.Payments)
                                    {
                                        @payment.Payment <p>-</p> @payment.Date <br />
                                    }
                                }
                                    </td>                                      
                                 </tr>
                                j++;
                            }
                                    </tbody>
                                </table>
                        }
                        </th>                  
                </tr>
                i++;
            }
        }        
    </tbody>
</table>
