@model EditSupplierOrderPaymentModel
@{
    ViewBag.Title = "Edit Purchase Payment";
    var broi = ViewBag.Count;
}
<div>
</div>
    <form method="post">
        <h2>Add new payment for Supplier Specification/Purchase Invoice</h2>
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>
                        Supplier Order No
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-sm-3">
                    @Model.Number
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <hr />
        <dv>
            
          <input type="hidden" value="@Model.ConvertToThatCurrency" asp-for="@Model.ConvertToThatCurrency">
               
        </dv>
        <h6 style="font-style:italic;color:red">Fill exchange details if currency conversion is made!</h6>
         <div>
            <span>from @Model.ConvertToThatCurrency to @Model.Currency</span>
            <select asp-for="ActionCalc">
                <option value="/">/</option>
                <option value="*">*</option>
            </select>
         </div>
       
         <div class="mt-1">
             <label asp-for="CurrencyExchangeRate">Exchange rate</label>
             <input asp-for="CurrencyExchangeRate" type="number" min="0.000001" step="0.000001"/>
         </div>
        <hr />
        <div>          
                
              <div class="form-group">
                    <label asp-for="@Model.NewPaidAmount">Add Amount</label>
                    <input type="number" min="0.00" step="0.00001" class="form-control col-sm-3" asp-for="@Model.NewPaidAmount" value="@Model.NewPaidAmount">
                    <span asp-validation-for="@Model.NewPaidAmount" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NewDateOfPayment">Date Paid Amount</label>
                   <input type="date" class="form-control col-sm-3" asp-for="@Model.NewDateOfPayment" value="@Model.NewDateOfPayment">
                  <span asp-validation-for="@Model.NewDateOfPayment" class="small text-danger"></span>
                </div>
                
        </div>
       <hr />
        <b>Purchase Invoices:</b>
       @* @if(Model.PurchasePaymentsCollection != null)
        {
            @foreach (var invoice in Model.PurchasePaymentsCollection)
            {
                     <div>
                     <b>Purchase Invoice No: @invoice.PurchaseNumber</b>  <br/>                       
                    </div>
                    foreach (var payment in invoice.PurchasePaymentsDetails)
                {
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Paid Amount
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-1">
                                    @payment.PaidAmount
                                </td>
                                  <td class="col-sm-1">
                                    @payment.Date
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                <hr /> 
            }
        }*@

        @for (int i = 0; i < broi; i++)
    {
        <table>
            <tbody>
                <tr>
                    <td>
                      <input type="hidden" value="@Model.PurchasePaymentsCollection[i].Id" asp-for="@Model.PurchasePaymentsCollection[i].Id">
                    </td>
                        <td class="col-md-3">
                       <div class="form-group">
                            <label asp-for="@Model.PurchasePaymentsCollection[i].PurchaseNumber">Payment for Invoice No</label>
                           <input type="number" min="0.00" step="0.00001" class="form-control" asp-for="@Model.PurchasePaymentsCollection[i].PurchaseNumber" value="@Model.PurchasePaymentsCollection[i].PurchaseNumber">
                             <span asp-validation-for="@Model.PurchasePaymentsCollection[i].PurchaseNumber" class="small text-danger"></span>
                            </div>
                    </td>
                        <td class="col-md-3">
                        <div class="form-group">
                            <label asp-for="@Model.PurchasePaymentsCollection[i].NewPaidAmount">Add Amount</label>
                                 <input type="number" min="0.00" step="0.00001" class="form-control" asp-for="@Model.PurchasePaymentsCollection[i].NewPaidAmount" value="@Model.PurchasePaymentsCollection[i].NewPaidAmount">
                           <span asp-validation-for="@Model.PurchasePaymentsCollection[i].NewPaidAmount" class="small text-danger"></span>
                        </div>
                    </td>
                    <td class="col-md-3">
                        <div class="form-group">
                                <label asp-for="@Model.PurchasePaymentsCollection[i].NewDatePaidAmount">Date Paid Amount</label>
                              <input type="date" class="form-control" asp-for="@Model.PurchasePaymentsCollection[i].NewDatePaidAmount" value="@Model.PurchasePaymentsCollection[i].NewDatePaidAmount">
                              <span asp-validation-for="@Model.PurchasePaymentsCollection[i].NewDatePaidAmount" class="small text-danger"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    }
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
