@model EditInvoiceViewModel
@inject IInvoiceService invoiceService
@using SSMO.Services.Reports
@{
    ViewBag.Title = "Invoice for edit";  
}
<h5>Edit Invoice</h5>
<form method="post">  
    <div>
        <input type="hidden" asp-for="MyCompanyId"/>
    </div>
    <div class="row col-md-4">
        <label asp-for="Date">Date of the Invoice</label>
        <input asp-for="Date" type="date" class="form-control" id="datepicker" >
    </div>
     <div class="row col-md-4">
        <label asp-for="Incoterms">Delivery Terms</label>
        <input asp-for="Incoterms" type="text" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="DeliveryAddress">Delivery Address</label>
        <input asp-for="DeliveryAddress" type="text" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="LoadingAddress">Loading Address</label>
        <input asp-for="LoadingAddress" type="text" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="TruckNumber">Truck Number</label>
        <input asp-for="TruckNumber" type="text" class="form-control">
    </div>

     <div class="row col-md-4">
        <label asp-for="NetWeight">Net Weight</label>
        <input asp-for="NetWeight" type="number" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="GrossWeight">Gross Weight</label>
        <input asp-for="GrossWeight" type="number" class="form-control">
    </div>
   <div class="row col-md-4">
        <label asp-for="DeliveryCost">Delivery Cost</label>
        <input asp-for="DeliveryCost" type="number" min="0" step="0.00001" class="form-control">
    </div>
    <div class="row col-md-4">
        <label asp-for="BankExpenses">Bank Expenses</label>
        <input asp-for="BankExpenses" type="number" min="0" step="0.00001" class="form-control">
    </div>
    <div class="row col-md-4">
        <label asp-for="FiscalAgentExpenses">Fiscal Agent Expenses</label>
        <input asp-for="FiscalAgentExpenses" type="number" min="0" step="0.00001" class="form-control">
    </div>
    <div class="row col-md-4">
        <label asp-for="CustomsExpenses">Customs Expenses</label>
        <input asp-for="CustomsExpenses" type="number" min="0" step="0.00001" class="form-control">
    </div>
    <div class="row col-md-4">
        <label asp-for="Duty">Duty Expenses</label>
        <input asp-for="Duty" type="number" min="0" step="0.00001" class="form-control">
    </div>
    <div class="row col-md-4">
        <label asp-for="OtherExpenses">Other Expenses</label>
        <input asp-for="OtherExpenses" type="number" min="0" step="0.00001" class="form-control">
    </div>
    <div class="row col-md-4">
        <label asp-for="Factoring">Factoring %</label>
        <input asp-for="Factoring" type="number" min="0.00" step="0.01" class="form-control">
    </div>
      <div class="row col-md-4">
        <label asp-for="Comission">Comission</label>
        <input asp-for="Comission" type="number"  min="0.00" step="0.01" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="PlaceOfIssue">Place ofissue</label>
        <input asp-for="PlaceOfIssue" type="text" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="PaymentTerms">Payment Terms</label>
        <input asp-for="PaymentTerms" type="text" class="form-control">
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="DealType">Deal Type Eng</label>
            <select asp-for="DealType" class="form-control">
            <option value="-">-</option>
            <option value="0% VAT according to article 21, p.2 from Bulgarian VAT Law">0% VAT according to article 21, p.2 from Bulgarian VAT Law</option>
           <option value="0% VAT according to article.69, p.2 from Bulgarian VAT Law">0% VAT according to article.69, p.2 from Bulgarian VAT Law</option>
           <option value="0% VAT according to article 53, p.1 from Bulgarian VAT Law">0% VAT according to article 53, p.1 from Bulgarian VAT Law</option>
           <option value="0% VAT according to article 141 2006/112/ЕО from Bulgarian VAT Law">0% VAT according to article 141 2006/112/ЕО from Bulgarian VAT Law</option>    
         </select>
    </div>
        <div class="form-group col-md-4">
            <label asp-for="DealDescription">Deal Description</label>
            <select asp-for="DealDescription" class="form-control">
            <option value="-">-</option>
            <option value="Participates in a VIES declaration">Participates in a VIES declaration</option>
           <option value=" 	Agent in Third party"> 	Agent in Third party</option>
            <option value="Participates in a VIES declaration, but not in Intrastat Declaration">Participates in a VIES declaration, but not in Intrastat Declaration</option>
          </select>
        </div>
    </div>
     <div class="form-group row col-md-4">
        <label asp-for="ChosenBanks">Choose Banks</label>
        <select asp-for="ChosenBanks" class="form-control" multiple>
            @foreach (var item in Model.CompanyBankDetails)
            {
              <option value="@item.Id">@item.CurrencyName:@item.BankName - @item.Iban</option>
            }  
        </select>
   <span asp-validation-for="ChosenBanks" class="small text-danger"></span>
    </div>
    <div class="row col-md-4">
        <label asp-for="CurrencyExchangeRate">Currency Exchange Rate to BGN</label>
        <input asp-for="CurrencyExchangeRate" type="number"  min="0.00000" step="0.00001" class="form-control" >
    </div>

    <div class="row col-md-4">
        <label asp-for="Comment">Comment</label>
        <input asp-for="Comment" type="text" class="form-control">
    </div>
      <div class="row col-md-4">
        <label asp-for="CustomsExportDeclaration">Customs Export Declaration</label>
        <input asp-for="CustomsExportDeclaration" type="text" class="form-control">
    </div>
    <div class="form-group row col-md-4">
        <label >Choose Fiscal Agent</label>
        <select asp-for="FiscalAgentId" class="form-control">
            <option value="@Model.FiscalAgentName" selected>@Model.FiscalAgentName</option>
            @foreach (var item in Model.FiscalAgents)
            {
               <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
     <div class="form-group row col-md-4">
        <label >Fsc Text</label>
        <select asp-for="FscTextEng" class="form-control">
            <option value="-" selected>@Model.FscText</option>
            @foreach (var item in Model.FscTexts)
            {
                 <option value="@item.Id">@item.FscTextEng</option>
            }   

        </select>
    </div>
            <p><b>Edit Products</b></p>
   <table class="table">
       <thead class="thead-light">
            <tr>                       
                <th>Description</th>
                <th>Size</th>
                <th>Grade</th>
                <th>FSC Claim</th>
                <th>FSC Certificate</th>
                <th>HS Code</th>
                <th>Unit</th>
                <th>Quantity </th>  
                <th>Unit Price</th>  
                <th>Pallets</th>
                <th>Sheets/Pallet</th>
            </tr>
         </thead>
        <tbody>
                @for (var i = 0; i < Model.Products.Count; i++)
                {
                  <tr class="align-self-auto">
                        <input type="hidden" asp-for="@Model.Products[i].Id"/>
                        <input type="hidden" asp-for="@Model.Products[i].ProductId"/>
                        <input type="hidden" asp-for="@Model.Products[i].PurchaseProductDetailsId"/>
                           <td class="col-sm-1">
                            <div class="editor-field">                                
                                <select asp-for="@Model.Products[i].DescriptionId" value="@Model.Products[i].DescriptionId">
                                <option value="">All</option>
                                    @foreach (var description in Model.Products[i].Descriptions)
                                    {
                                        <option value="@description.Id">@description.Name</option>
                                    }
                                </select>                                        
                            </div>
                        </td>
                            <td class="col-sm-1">
                        <div class="editor-field" >
                                 <select asp-for="@Model.Products[i].GradeId" value="@Model.Products[i].GradeId">
                                  <option value="">All</option>
                                    @foreach (var grade in Model.Products[i].Grades)
                                    {
                                     <option value="@grade.Id">@grade.Name</option>
                                    }
                                </select>  
                        </div>
                        </td>
                        <td class="col-sm-1">
                        <div class="editor-field">
                               <select asp-for="@Model.Products[i].SizeId" value="@Model.Products[i].SizeId">
                               <option value="">All</option>
                                    @foreach (var size in Model.Products[i].Sizes)
                                    {
                                              <option value="@size.Id">@size.Name</option>
                                    }
                                </select>  
                            </div>
                        </td>
                            <td class="col-sm-1">
                            <div class="editor-field">
                             <input asp-for="@Model.Products[i].FscClaim" value="@Model.Products[i].FscClaim" type="text" />
                            </div>
                        </td>
                             <td class="col-sm-1">
                            <div class="editor-field">
                               <input asp-for="@Model.Products[i].FscSertificate" value="@Model.Products[i].FscSertificate" type="text" />
                            </div>
                        </td>
                         <td class="col-sm-1">
                            <div class="editor-field">
                                <input asp-for="@Model.Products[i].HsCode" value="@Model.Products[i].HsCode" type="text" />
                            </div>
                        </td>
                           <td class="col-sm-1">
                            <div class="editor-field">
                                <input asp-for="@Model.Products[i].Unit" value="@Model.Products[i].Unit" type="text" />
                            </div>
                        </td>
                              <td class="col-sm-1">
                            <div class="editor-field" scope="col">
                                <input asp-for="@Model.Products[i].InvoicedQuantity" value="@Model.Products[i].InvoicedQuantity" type="number" />
                        </div>
                    </td>
                          <td class="col-sm-1">
                        <div class="editor-field">
                                <input asp-for="@Model.Products[i].SellPrice" value="@Model.Products[i].SellPrice" type="number"/>
                                <span asp-validation-for="@Model.Products[i].SellPrice" class="small text-danger"></span>
                        </div>
                    </td>
                          <td class="col-sm-1">
                        <div class="editor-field">
                                <input asp-for="@Model.Products[i].Pallets" value="@Model.Products[i].Pallets" type="number" />
                                <span asp-validation-for="@Model.Products[i].Pallets" class="small text-danger"></span>
                        </div>
                    </td>
                          <td class="col-sm-1">
                        <div class="editor-field">
                            <input asp-for="@Model.Products[i].SheetsPerPallet" value="@Model.Products[i].SheetsPerPallet" type="number" />
                            <span asp-validation-for="@Model.Products[i].SheetsPerPallet" class="small text-danger"></span>
                        </div>
                    </td>
                    </tr>                    
                }
          </tbody>
 </table>
      
 <div class="editor-field">
     <label>Choose different customer</label>
       <select name="CustomerId" id="CustomerId" asp-for="CustomerId" >
           <option value="">All</option>
            @foreach (var customer in invoiceService.CustomersForeEditInvoice())
            {
                <option value="@customer.Id">@customer.Name</option>
            }
       </select>
   </div>
 <div class="row col-md-4 ">           
                 <label asp-for="SelectedCustomerOrders" class="control-label"> Select Customer Order</label>
                 <select multiple asp-for="SelectedCustomerOrders" class="form-control" id="CustomerOrderNumber" name="SelectedCustomerOrders" asp-items="@(new SelectList(string.Empty,"CustomerOrderId", "CustomerOrderNumber"))"></select>               
     </div>
 <div class="row col-md-4">
            <label>Choose Header</label>
            <select asp-for="Header" class="form-control">
            @foreach (var item in Model.Images)
            {
                    <option value="@item.Id">@item.ImageTitle</option>
            }
            </select>
        </div>
 <div class="row col-md-4">
            <label>Choose Footer</label>
            <select asp-for="Footer" class="form-control">
            @foreach (var item in Model.Images)
            {
                    <option value="@item.Id">@item.ImageTitle</option>
            }
            </select>
        </div>
    @*<div class="form-group col-md-4">
            <label>Choose/Add New CustomerOrder</label>
            <select multiple asp-for="CustomerOrdersId" class="form-control">
            <option value="">-</option>
            @foreach (var order in Model.CustomerOrders)
            {
               <option value="@order.Id">@order.OrderConfirmationNumber</option>
                    <br />
            }
            </select>
     </div>*@
  <div class="row">
       <td class="col"> <input type="submit" name="Command" value="Save" class="btn btn-primary mt-3"/></td> 
       <td> </td>
       <td class="col"><input type="submit" name="Command" value="Add New Products" class="btn btn-primary mt-3"/></td> 
    </div>
</form>

    
 <script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   <script type="text/javascript" src="~/js/getCustomerOrdersByCustomerName.js"></script>
        
}
