@model EditPurchaseViewModel
@using SSMO.Services.Products
@inject IProductService service;

@{
    ViewBag.Title = "Edit Purchase";
}
<form method="post">
    @*<div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="SupplierOrderId">Supplier Order</label>
        <select asp-for="SupplierOrderId" class="form-control">
            <option value="@Model.SupplierOrderId"></option>
            @foreach (var order in Model.SupplierOrders)
            {
                <option value="@order.Id">@order.Number</option>
            }
        </select>
    </div>*@
    <input type="hidden" asp-for="SupplierOrderId"/>

    <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="PurchaseNumber">Number Invoice</label>
        <input asp-for="PurchaseNumber" type="text" class="form-control" >
        <span asp-validation-for="PurchaseNumber" class="small text-danger"></span>
    </div>
    <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="Date">Date</label>
        <input asp-for="Date" type="date" class="form-control" >
        <span asp-validation-for="Date" class="small text-danger"></span>
    </div>   
     <div class="form-group offset-3 mb-2 col-md-3">  
       <label class="form-check-label" asp-for="Vat"> VAT </label>    
       <input class="form-control" min="0" step="1" type="number" asp-for="Vat">
    </div>
      <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="TruckNumber">Truck Number</label>
        <input asp-for="TruckNumber" type="text" class="form-control" >
        <span asp-validation-for="TruckNumber" class="small text-danger"></span>
    </div>
     <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="Swb">SWB</label>
        <input asp-for="Swb" type="text" class="form-control" >
        <span asp-validation-for="Swb" class="small text-danger"></span>
    </div>
    <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="NetWeight">Net Weight</label>
        <input asp-for="NetWeight"min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="NetWeight" class="small text-danger"></span>
    </div>

     <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="GrossWeight">Gross Weight</label>
        <input asp-for="GrossWeight" min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="GrossWeight" class="small text-danger"></span>
    </div>

    <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="Duty">Duty</label>
        <input asp-for="Duty" min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="Duty" class="small text-danger"></span>
    </div>

    <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="Factoring">Factoring %</label>
        <input asp-for="Factoring" min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="Factoring" class="small text-danger"></span>
    </div>

    <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="CustomsExpenses">Customs Expenses</label>
        <input asp-for="CustomsExpenses" min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="CustomsExpenses" class="small text-danger"></span>
    </div>

        <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="FiscalAgentExpenses">Fiscal Agent Expenses</label>
        <input asp-for="FiscalAgentExpenses" min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="FiscalAgentExpenses" class="small text-danger"></span>
    </div>

     <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="ProcentComission">Comission %</label>
        <input asp-for="ProcentComission" min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="ProcentComission" class="small text-danger"></span>
    </div>

     <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="PurchaseTransportCost">Transport Cost</label>
        <input asp-for="PurchaseTransportCost" min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="PurchaseTransportCost" class="small text-danger"></span>
    </div>

     <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="BankExpenses">Bank Expenses</label>
        <input asp-for="BankExpenses" min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="BankExpenses" class="small text-danger"></span>
    </div>

     <div class="form-group  offset-3 mb-2 col-md-3">
        <label asp-for="OtherExpenses">Other Expenses </label>
        <input asp-for="OtherExpenses" min="0.0000" step="0.0001" type="number" class="form-control" >
        <span asp-validation-for="OtherExpenses" class="small text-danger"></span>
    </div>
    <div class="row">
       <table class="table-edit">
       <thead class="thead-light">
        <tr>
            <th>
               Check if it's a Product
            </th>
            <th>
                Description
            </th>
            <th>
                Grade
            </th>
            <th>
                Size
            </th>
            <th>
                FSC Certificate
            </th>
            <th>
                FSC Claim
            </th>
            <th>
                Unit
            </th>
            <th>
                Quantity
            </th>
            <th>
                Pallets
            </th>
            <th>
                Sheets/pallet
            </th>
            <th>
               Purchase Price
            </th>
            <th>
               Vehicle Number
            </th>
        </tr>
    </thead>
    <tbody>
                @for (var i=0;i< Model.PurchaseProducts.Count();i++)
                {
                <tr>
                    <input type="hidden" asp-for="@Model.PurchaseProducts[i].Id">
                          <input type="hidden" asp-for="@Model.PurchaseProducts[i].ProductId">
                              <td class="col-sm-1">
                       <input class="form-check-input" type="checkbox" asp-for="@Model.PurchaseProducts[i].ProductOrNot">
                       <label class="form-check-label" > </label> 

                          </td>
                          <td class="col-sm-1">
                                    <div class="editor-field">
                                            <select asp-for="@Model.PurchaseProducts[i].Description">
                                            <option value="">All</option>
                                    @foreach (var type in service.GetDescriptions())
                                    {
                                                        <option value="@type">@type</option>
                                    }
                                        </select>
                                    </div>
                                </td>
                                <br>
                                <td class="col-sm-1">
                                    <div class="editor-field">
                                            <select id="Size" asp-for="@Model.PurchaseProducts[i].Size">
                                            <option value="">All</option>
                                    @foreach (var size in service.GetSizes())
                                    {
                                                        <option value="@size">@size</option>
                                    }
                                        </select>
                                    </div>
                                </td>
                                <br>
                                <td class="col-sm-1">
                                    <div class="editor-field">
                                            <select asp-for="@Model.PurchaseProducts[i].Grade">
                                            <option value="">All</option>
                                    @foreach (var grade in service.GetGrades())
                                    {
                                                        <option value="@grade">@grade</option>
                                    }
                                        </select>
                                    </div>
                                </td>
                                <br>
                                <td class="col-sm-1">
                                    <div class="editor-field">
                                             <input asp-for="@Model.PurchaseProducts[i].FscClaim" class="text-box single-line" placeholder="FSC Claim" aria-label="FSC Claim" value="@Model.PurchaseProducts[i].FscClaim" >
                                    </div>
                                </td>
                                <br>
                                <td class="col-sm-1">
                                    <div class="editor-field">
                                                <input asp-for="@Model.PurchaseProducts[i].FscCertificate" class="text-box single-line" placeholder="FSC Certificate" aria-label="FSC Certificate" value="@Model.PurchaseProducts[i].FscCertificate">
                                    </div>
                                </td>
                                <br>
                                      <td class="col-sm-1">
                                                <div class="editor-field">
                                                 <select asp-for="@Model.PurchaseProducts[i].Unit">
                                    @foreach (var unit in service.GetUnits())
                                    {
                                                 <option value="@unit">@unit</option>
                                    }
                                                    </select>
                                            </div>
                                        </td>
                                        <br>
                                             <td class="col-sm-1">
                                        <div class="editor-field">
                                                    <input asp-for="@Model.PurchaseProducts[i].Quantity" class="text-box single-line" aria-label="QuantityM3" value="@Model.PurchaseProducts[i].Quantity" required="required">
                                        </div>
                                    </td>
                                <td class="col-sm-1">
                                    <div class="editor-field">
                                            <input asp-for="@Model.PurchaseProducts[i].Pallets" class="text-box single-line" value="@Model.PurchaseProducts[i].Pallets" aria-label="Pallets" required="required">
                                    </div>
                                </td>
                                <br>
                                <td class="col-sm-1">
                                    <div class="editor-field">
                                                <input asp-for="@Model.PurchaseProducts[i].SheetsPerPallet" class="text-box single-line" aria-label="Sheets/Pallets" value="@Model.PurchaseProducts[i].SheetsPerPallet" required="required">
                                    </div>
                                </td>
                           
                                <br>
                                <td class="col-sm-1">
                                    <div class="editor-field">
                                                <input asp-for="@Model.PurchaseProducts[i].PurchasePrice" type="number" min="0.0000" step="0.0001" class="text-box single-line" aria-label="Purchase Price" value="@Model.PurchaseProducts[i].PurchasePrice" required="required">
                                    </div>
                                </td>
                               <td class="col-sm-1">
                                        <div class="editor-field">
                                                    <input asp-for="@Model.PurchaseProducts[i].VehicleNumber" type="text"  class="text-box single-line" aria-label="Vehicle Number" value="@Model.PurchaseProducts[i].VehicleNumber" required="required">
                                        </div>
                                    </td>
                </tr>
                <hr />
                }
    </tbody>
</table>
    </div>

        <input type="submit" class="btn btn-primary text-center" value="Save">
        <br />
</form>