@model EditDebitNoteViewModel
@{
    ViewBag.Title = "Invoice for edit";
}
<h5>Edit Debit Note</h5>
<form method="post">
    <div class="row">       
    </div>
    <div class="row col-md-4">
        <label asp-for="Date">Date of the Invoice</label>
        <input asp-for="Date" type="date" class="form-control" id="datepicker" >
    </div>
     <div class="row col-md-4">
        <label asp-for="Incoterms">Delivery Terms</label>
        <input asp-for="Incoterms" type="text" class="form-control" >
    </div>
     <div class="row col-md-4">
        <label asp-for="DeliveryAddress">Delivery Address</label>
        <input asp-for="DeliveryAddress" type="text" class="form-control" >
    </div>
      <div class="row col-md-4">
        <label asp-for="LoadingAddress">Loading Address</label>
        <input asp-for="LoadingAddress" type="text" class="form-control" >
    </div>
     <div class="row col-md-4">
        <label asp-for="Vat">Vat</label>
        <input asp-for="Vat" type="number" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="CurrencyExchangeRate">Currency Exchange Rate</label>
        <input asp-for="CurrencyExchangeRate" type="number" class="form-control">
    </div>
     <div class="row col-md-4">
        <label asp-for="PaymentTerms">Payment Terms</label>
        <input asp-for="PaymentTerms" type="text" class="form-control">
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="DealType">Deal Type Eng</label>
            <select asp-for="DealType" class="form-control">
            <option value="-">-</option>
            <option value="0% VAT according to article 21, p.2 from Bulgarian VAT Law">0% VAT according to article 21, p.2 from Bulgarian VAT Law</option>
           <option value="0% VAT according to article.69, p.2 from Bulgarian VAT Law">0% VAT according to article.69, p.2 from Bulgarian VAT Law</option>
           <option value="0% VAT according to article 53, p.1 from Bulgarian VAT Law">0% VAT according to article 53, p.1 from Bulgarian VAT Law</option>
           <option value="0% VAT according to article 141 2006/112/ЕО from Bulgarian VAT Law">0% VAT according to article 141 2006/112/ЕО from Bulgarian VAT Law</option>    
         </select>
    </div>
        <div class="form-group col-md-4">
            <label asp-for="DescriptionType">Deal Description</label>
            <select asp-for="DescriptionType" class="form-control">
            <option value="-">-</option>
            <option value="Participates in a VIES declaration">Participates in a VIES declaration</option>
           <option value=" 	Agent in Third party"> 	Agent in Third party</option>
            <option value="Participates in a VIES declaration, but not in Intrastat Declaration">Participates in a VIES declaration, but not in Intrastat Declaration</option>
          </select>
        </div>
    </div>
      <div class="row col-md-4">
        <label asp-for="Comment">Comment</label>
        <input asp-for="Comment" type="text" class="form-control">
    </div>
    
            <p><b>Edit Products</b></p>
        
           @*<partial name="_DebitNoteProductsForEdit" model="Model.Products"/>*@

     @if(Model.Products.Count() >0)
    {      
        <div class="row" >
           <table class="table-striped" >
             <thead class="thead-light">
                <tr> 
                    <th>Physical quantity</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Grade</th>
                    <th>FSC Claim</th>
                    <th>FSC Certificate</th>
                    <th>Unit</th>
                    <th>Quantity </th>  
                    <th>Unit Price</th>  
                    <th>Pallets</th>
                    <th>Sheets/Pallet</th>
                </tr>
             </thead>
            <tbody>
                @for (var i = 0; i < Model.Products.Count; i++)
                {
                    <tr>
                            <input type="hidden" asp-for="@Model.Products[i].Id"/>
                            <input type="hidden" asp-for="@Model.Products[i].ProductId"/>
                            <td>
                                <input asp-for="@Model.Products[i].ServiceOrProductQuantity" type="checkbox">
                            </td>
                        <td class="col-md-1" width="15%">
                            <div class="editor-field">
                                <select asp-for="@Model.Products[i].DescriptionId" value="@Model.Products[i].DescriptionId">
                                <option value="">All</option>
                            @foreach (var description in Model.Products[i].Descriptions)
                            {
                                            <option value="@description.Id">@description.Name</option>
                            }
                                </select>                                        
                            </div>
                        </td>
                        <td class="col-sm-1">
                            <div class="editor-field">
                                    <select asp-for="@Model.Products[i].GradeId" value="@Model.Products[i].GradeId">
                                    <option value="">All</option>
                            @foreach (var grade in Model.Products[i].Grades)
                            {
                                        <option value="@grade.Id">@grade.Name</option>
                            }
                                </select>  
                                    </div>
                                </td>
                                <td class="col-sm-1">
                            <div class="editor-field">
                                    <select asp-for="@Model.Products[i].SizeId" value="@Model.Products[i].SizeId">
                                    <option value="">All</option>
                            @foreach (var size in Model.Products[i].Sizes)
                            {
                                        <option value="@size.Id">@size.Name</option>
                            }
                                </select>  
                            </div>
                        </td>
                                <td class="col-sm-1">
                            <div class="editor-field">
                                                <input asp-for="@Model.Products[i].FscClaim" value="@Model.Products[i].FscClaim" type="text" class="text-box single-line"/>
                            </div>
                        </td>
                                <td class="col-sm-1">
                            <div class="editor-field">
                                                <input asp-for="@Model.Products[i].FscSertificate" value="@Model.Products[i].FscSertificate" type="text" class="text-box single-line"/>
                            </div>
                        </td>
                                        <td class="col-sm-1">
                            <div class="editor-field">
                                                <input asp-for="@Model.Products[i].Unit" value="@Model.Products[i].Unit" type="text" class="text-box single-line"/>
                            </div>
                        </td>
                            <td class="col-sm-1">
                        <div class="editor-field">
                                               <input asp-for="@Model.Products[i].DebitNoteQuantity" value="@Model.Products[i].DebitNoteQuantity" type="number" class="text-box single-line"/>
                        </div>
                    </td>
                                <td class="col-sm-1">
                        <div class="editor-field">
                                            <input asp-for="@Model.Products[i].DebitNotePrice" value="@Model.Products[i].DebitNotePrice" type="number" class="text-box single-line"/>
                                <span asp-validation-for="@Model.Products[i].DebitNotePrice" class="small text-danger"></span>
                        </div>
                    </td>
                            <td class="col-sm-1">
                        <div class="editor-field">
                                        <input asp-for="@Model.Products[i].DebitNotePallets" value="@Model.Products[i].DebitNotePallets" type="number" class="text-box single-line"/>
                                <span asp-validation-for="@Model.Products[i].DebitNotePallets" class="small text-danger"></span>
                        </div>
                    </td>
                      <td class="col-sm-1">
                        <div class="editor-field">
                                            <input asp-for="@Model.Products[i].DebitNoteSheetsPerPallet" value="@Model.Products[i].DebitNoteSheetsPerPallet" type="number" class="text-box single-line"/>
                                <span asp-validation-for="@Model.Products[i].DebitNoteSheetsPerPallet" class="small text-danger"></span>
                        </div>
                    </td>
                    </tr>                    
                }
              </tbody>
         </table>
    </div>
      
    }
      <div class="row col-md-4">
        <div class="editor-field">
           <label>Choose New Invoice No For Credit</label>
           <select asp-for="DebitToInvoiceNumberId" type="number" >
            <option value="@Model.DebitToInvoiceNumberId">@Model.InvoiceNumber</option>
                @foreach (var invoice in Model.DebitNoteInvoicenumbers)
                {
                            <option value="@invoice.Id">@invoice.DocumentNumber</option>
                }
           </select> 
        </div>              
    </div> 
  <div class="row">
       <td class="col"> <input type="submit" name="Command" value="Save" class="btn btn-primary mt-3" /></td> 
       <td></td>
       <td class="col"><input type="submit" name="Command" value="Add New/More Products" class="btn btn-primary mt-3" /></td> 
    </div>
</form>

    
        <script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}