@model CustomerInvoicePaymentsReportsViewModel
@{
    ViewBag.Title = "Invoices Payment Report";
}

<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="CustomerName"></label>
            <select asp-for="CustomerName" class="form-control">
                <option value="">All</option>
                @foreach (var customerName in Model.CustomerNames)
                {
                    <option value="@customerName">@customerName</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-info" value="Search" />
    </div>
    <br />
</form>

@{
    var previouspage = Model.CurrentPage - 1;
    if (previouspage < 1)
    {
        previouspage = 1;
    }

    var maxpage = Math.Ceiling((double)Model.TotalCustomerInvoices / CustomerInvoicePaymentsReportsViewModel.CustomerInvoicesPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Reports"
           asp-action="InvoicePaymentReport"
           asp-route-currentPage="@previouspage"
           asp-route-customerName="@Model.CustomerName"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxpage ||
        Model.CustomerPaymentCollection == null;
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Reports"
           asp-action="InvoicePaymentReport"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-customerName="@Model.CustomerName">>></a>
    </div>
</div>
<table class="table">   
    <thead>
        <tr style="background-color:lightgreen;position:relative">
            <th> No</th>
                <th>
                Invoice Number
                </th>
                <th>
                    Date
                </th>
                <th>
                    Payment Status
                </th>
                 <th>
                    Amount
                </th>
                <th>
                    Advance Payment
                </th>
                <th>
                    Date of Payment
                </th>
                <th>
                    Balance
                </th>
                <th>Following Payments</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            int j = 1;
        }
        @if(Model.CustomerPaymentCollection != null)        
        {            
            @foreach (var invoice in Model.CustomerPaymentCollection)
            {
                <tr>
                    <th>@i</th>
                            <th> @invoice.DocumentNumber</th>
                            <th> @invoice.Date</th>
                    @if (@invoice.PaidStatus == true)
                    {
                        <th>Paid</th>
                    }
                    else
                    {
                        <th>Not Paid</th>
                    }
                            <th> @invoice.TotalAmount</th>
                            <th> @invoice.PaidAvance</th>
                            <th> @invoice.DatePaidAmount.ToShortDateString()</th>
                            <th> @invoice.Balance</th>
                            <th style="display:inline"> @foreach (var payment in invoice.Payments)
                        {
                            @payment.PaidAmount <p>-</p> @payment.Date.ToShortDateString()
                        }</th>
                           <th><a asp-controller="Reports" asp-action="EditInvoicePayment" asp-route-documentNumber="@invoice.DocumentNumber" class="btn btn-outline-info mr-1">Edit</a></th> 
                </tr>
                <tr>
                   <th colspan="10">
                        <table>
                            <thead>
                                    <tr style="background-color:aquamarine">
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Customer Order N
                                        </th>
                                        <th>
                                            Balance
                                        </th>
                                        <th>
                                            Advance Payment
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Following Payments
                                        </th>
                                    </tr>
                            </thead>
                                    <tbody>
                        @foreach (var order in invoice.CustomerOrders)
                        {
                            <tr>
                                <th>@i.@j</th>
                                <th>@order.OrderConfirmationNumber</th>
                                <th>@order.Balance</th>
                                <th>@order.PaidAvance</th>
                                <th>@order.DateAdvancePayment.ToShortDateString()</th>
                        @foreach (var payment in order.Payments)
                        {
                                <th style="display:block">@payment.PaidAmount - @payment.Date.ToShortDateString()</th>
                        }
                            </tr>
                            
                        }
                         </tbody>
                      </table>
                   </th>                    
                </tr>
                i++;
            }   
        }        
    </tbody>
</table>


