@model ProductAvailabilityViewModel
@{
    ViewBag.Title = "Products on Stock";
    var i = 1;
}

<form method="get">
    <h5>Products on stock</h5>
    <hr />
   
    <div class="form-group row">
        <div class="form-group col-md-5">
            <div class="form-group">
                <label asp-for="DescriptionId" class="col-form-label">Description</label>
                <select asp-for="@Model.DescriptionId">
                    <option value="">All</option>
                    @foreach (var description in Model.Descriptions)
                    {
                        <option value="@description.Id">@description.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="form-group">
                <label asp-for="SizeId" class="col-form-label">Size</label>
                <select  asp-for="@Model.SizeId">
                    <option value="">All</option>
                    @foreach (var size in Model.Sizes)
                    {
                        <option value="@size.Id">@size.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-2">
            <div class="form-group">
                <label asp-for="GradeId" class="col-form-label">Grade</label>
                <select asp-for="@Model.GradeId">
                    <option value="">All</option>
                    @foreach (var grade in Model.Grades)
                    {
                        <option value="@grade.Id">@grade.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    
    <div>
        <input type="submit" class="btn btn-info mr-1" value="Search" /> <a class="btn btn-success text-capitalize border-0" data-mdb-ripple-color="dark" asp-controller="Reports" asp-action="ExportProductsToExcel"><i
              class="fas fa-print text-primary"></i> Download</a>
    </div>
    <hr />
</form>
@{
    var previouspage = Model.CurrentPage - 1;
    if (previouspage < 1)
    {
        previouspage = 1;
    }

    var maxpage = Math.Ceiling((double)Model.TotalProducts / ProductAvailabilityViewModel.ProductsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Reports"
           asp-action="ProductsOnStock"
           asp-route-currentPage="@previouspage"
           asp-route-descriptionId="@Model.DescriptionId"
           asp-route-gradeId="@Model.GradeId"
           asp-route-sizeId="@Model.SizeId"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxpage ||
        !Model.ProductsDetails.Any();
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Reports"
           asp-action="ProductsOnStock"
           asp-route-currentPage="@previouspage"
           asp-route-descriptionId="@Model.DescriptionId"
           asp-route-gradeId="@Model.GradeId"
           asp-route-sizeId="@Model.SizeId">>></a>
    </div>
</div>

<table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    No
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                   Quantity on stock
                </th>
                <th scope="col">
                    Supplier Name
                </th>               
            </tr>
        </thead>
        <tbody>
        @if(Model.ProductsDetails != null)
        {           
            @foreach (var product in Model.ProductsDetails)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @product.Description @product.Size @product.Grade
                    </td>
                    <td>
                        @product.QuantityOnStock
                    </td>
                    <td>
                        @product.SupplierName
                    </td>                           
                </tr>
                <tr>                         
                    <td>
                        Purchase Details
                    </td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Purchase Invoice No
                                    </th>
                                    <th scope="col">
                                        Date
                                    </th>
                                    <th scope="col">
                                        Delivery address
                                    </th>
                                    <th scope="col">
                                        FSC
                                    </th>  
                                        <th scope="col">
                                        Loaded Quantity
                                    </th>
                                    <th scope="col">
                                        Unit
                                    </th>
                                    <th scope="col">
                                        Pallets/Sheets
                                    </th>
                                    <th scope="col">
                                        Purchase Price
                                    </th>
                                    <th scope="col">
                                        Cost Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var purchase in product.PurchaseProductDetails)
                                {
                                 <tr>
                                    <td>
                                        @purchase.PurchaseNumber
                                    </td>
                                    <td>
                                        @purchase.PurchaseDate
                                    </td>
                                    <td>
                                       @purchase.DeliveryAddress
                                    </td>
                                    <td>
                                        @purchase.FSCClaim
                                    </td>  
                                    <td>
                                        @purchase.LoadedQuantity
                                    </td>
                                    <td>
                                        @purchase.Unit
                                    </td>
                                    <td>
                                        @purchase.Pallets x @purchase.SheetsPerPallet
                                    </td>
                                    <td>
                                        @purchase.PurchasePrice
                                    </td>
                                    <td>
                                        @purchase.CostPrice
                                    </td>
                                </tr>
                                }    
                            </tbody>
                        </table>
                    </td>
                </tr>
                        <tr>
                            
                            <td>
                                Customer Orders
                            </td>
                            <td>
                                <table>
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Customer Name
                                            </th>
                                            <th scope="col">
                                                Order Confirmation No
                                            </th>
                                            <th scope="col">
                                                Customer PO No
                                            </th>
                                            <th scope="col">
                                                Delivery address
                                            </th>  
                                            <th scope="col">
                                                Price
                                            </th>                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                @foreach (var order in product.CustomerProductsDetails)
                                {
                                                 <tr>
                                                <td>
                                            @order.CustomerName
                                                </td>
                                                <td>
                                            @order.CustomerOrderNumber
                                                </td>
                                                <td>
                                            @order.CustomerPoNumber
                                                </td>
                                                <td>
                                            @order.DeliveryAddress
                                                </td>  
                                                <td>
                                            @order.Price
                                                </td>
                                                
                                            </tr>
                                }    
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                i++;
            }  
        }
        </tbody>
</table>
