@model PurchaseInvoiceDetailsViewModel
@{
    ViewBag.Title = "Purchase details";
}

<div class="" style="margin-bottom:10px">
    <h3>Purchase Details/Edit </h3>
</div>

<dl class="row">
     <dt class="col-sm-3">
        Invoice No:
    </dt>
    <dd class="col-sm-5">
        @Model.PurchaseNumber
    </dd>
</dl>
<dl class="row">
     <dt class="col-sm-3">
       Date:
    </dt>
    <dd class="col-sm-5">
        @Model.Date
    </dd>
</dl>
<dl class="row">
     <dt class="col-sm-3">
       Amount @Model.Currency:
    </dt>
    <dd class="col-sm-5">
        @Model.TotalAmount
    </dd>
</dl>
<dl class="row">
     <dt class="col-sm-3">
        Order No:
    </dt>
    <dd class="col-sm-5">
        @Model.SupplierOrderNumber
    </dd>
</dl>
<dl class="row">
     <dt class="col-sm-3">
        Incoterms:
    </dt>
    <dd class="col-sm-5">
        @Model.Incoterms
    </dd>
</dl>
<dl class="row">
     <dt class="col-sm-3">
        Delivery Address:
    </dt>
    <dd class="col-sm-5">
        @Model.DeliveryAddress
    </dd>
</dl>
<dl class="row">
     <dt class="col-sm-3">
       Truck No:
    </dt>
    <dd class="col-sm-5">
        @Model.TruckNumber
    </dd>
</dl>
<dl class="row">
     <dt class="col-sm-3">
       SWB/Shipping Line:
    </dt>
    <dd class="col-sm-5">
        @Model.Swb - @Model.ShippingLine
    </dd>
 </dl>
<dl class="row">
    <dt class="col-sm-3">
       ETA:
    </dt>
    <dd class="col-sm-5">
        @Model.Eta
    </dd>
</dl>
<dl class="row">
     <dt class="col-sm-3">
       Net Weight:
    </dt>
    <dd class="col-sm-5">
        @Model.NetWeight
    </dd>
</dl>
<dl class="row">
     <dt class="col-sm-3">
       Gross Weight:
    </dt>
    <dd class="col-sm-5">
        @Model.GrossWeight
    </dd>
</dl> 
<dl class="row">Products</dl>
<table class="table-info">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Grade
            </th>
            <th>
                Size
            </th>
            <th>
                FSC Certificate
            </th>
            <th>
                FSC Claim
            </th>
            <th>
                Unit
            </th>
            <th>
                Quantity
            </th>
            <th>
                Pallets
            </th>
            <th>
                Sheets/pallet
            </th>
            <th>
                Total Sheets
            </th>
            <th>
                Price
            </th>
            <th>
               Cost Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                    <td class="col-sm-1">
                    @product.Description
                </td>
                    <td class="col-sm-1">
                    @product.Grade
                </td>
                    <td class="col-sm-1">
                    @product.Size
                </td>
                    <td class="col-sm-1">
                    @product.FscCertificate
                </td>
                    <td class="col-sm-1">
                    @product.FscClaim
                </td>
                    <td class="col-sm-1">
                    @product.Unit
                </td >
                    <td class="col-sm-1">
                    @product.Quantity
                </td>
                    <td class="col-sm-1">
                    @product.Pallets
                </td>
                    <td class="col-sm-1">
                    @product.SheetsPerPallet
                </td>
                     <td class="col-sm-1">
                    @product.TotalSheets
                    </td>
                    <td class="col-sm-1">
                    @product.PurchasePrice
                </td>
                        <td class="col-sm-1">
                    @product.CostPrice @product.CostPriceCurrency
                    </td>
            </tr>
            <hr />
        }
    </tbody>
</table>
