@model List<ProductSupplierFormModel>
@using SSMO.Services
@using SSMO.Services.Products
@inject IProductService service;
 
@{
    ViewBag.Title = "Edit Product List";
    var count = int.Parse(TempData["Count"].ToString());
    var fscCert = ViewBag.FscCert;
}

    <form method="post">    
    <fieldset>
        <h4 >Add Products</h4>
        <table id="clientTable" class="table table-bordered">
            <thead class="thead-light">
                <tr>
                <td>Description</td>
                <td>Size</td>
                <td>Grade</td>
                <td>Supplier FSC claim</td>
                <td>Supplier FSC certificate</td>  
                <td>Unit</td>
                <td>Pallets</td>
                <td>Sheets/pallet</td>
                <td>Quantity m3</td>
                <td>Purchase Price</td>
                </tr>
            </thead>
            <tbody>
 
             @for (int i = 0; i < count; i++)
                {
                    <div>
                     <input type="hidden" asp-for="@Model[i].Id">
                    </div>
                     <tr>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <select asp-for="@Model[i].Description" >
                                        <option value="">All</option>
                                        @foreach (var type in service.GetDescriptions())
                                        {
                                            <option value="@type">@type</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <select asp-for="@Model[i].Size">
                                        <option value="">All</option>
                                        @foreach (var size in service.GetSizes())
                                        {
                                            <option value="@size">@size</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <select asp-for="@Model[i].Grade">
                                        <option value="">All</option>
                                        @foreach (var grade in service.GetGrades())
                                        {
                                            <option value="@grade">@grade</option>
                                        }
                                    </select>
                                </div>
                            </td>
                               <td class="col-sm-1">
                                <div class="editor-field">
                                    <input asp-for="@Model[i].FscClaim"  class="text-box single-line" required="required">
                                </div>
                            </td>
                             <td class="col-sm-1">
                                <div class="editor-field">
                                    <select asp-for="@Model[i].FscCertificate">
                                        <option value="">-</option>
                                            <option value="@Model[i].SupplierFscCertNumber">@fscCert</option>
                                    </select>
                                </div>
                            </td>
                                <td class="col-sm-1">
                                    <div class="editor-field">                                        
                                        <select asp-for="@Model[i].Unit">
                                    @foreach (var unit in service.GetUnits())
                                    {
                                                <option value="@unit">@unit</option>
                                    }
                                        </select>
                                </div>
                            </td>
                             <td class="col-sm-1">
                                <div class="editor-field">
                                    <input asp-for="@Model[i].Pallets" class="text-box single-line"  required="required">
                                </div>
                            </td>
                            <td class="col-sm-1">
                                <div class="editor-field">

                                    <input asp-for="@Model[i].SheetsPerPallet" class="text-box single-line"  required="required">
                                </div>
                            </td>

                            <td class="col-sm-1">
                                <div class="editor-field">
                                      <input asp-for="@Model[i].QuantityM3" class="text-box single-line" value="">
                                </div>
                            </td>
                           
                            <td class="col-sm-1">
                                <div class="editor-field">
                                    <input asp-for="@Model[i].PurchasePrice" type="number" min="0.0000" step="0.0001" class="text-box single-line"   required="required">
                                </div>
                            </td>
                            
                        </tr>
                }                
             
            </tbody>                
            
        </table>
       
        <hr />
        <p>
            <input type="submit" value="Save" class="btn btn-primary mt-3"/>
           
        </p>
      
    </fieldset>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}